Repository jamesbrink/nixos: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixfmt, prettier

.pre-commit-config.yaml:

# Pre-commit hooks configuration
# Install hooks: pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Nix formatting
  - repo: local
    hooks:
      - id: nixfmt
        name: Format Nix files
        entry: nixfmt
        language: system
        files: '\.nix$'
        pass_filenames: true

  # Shell script linting
  - repo: local
    hooks:
      - id: shellcheck
        name: Lint shell scripts
        entry: shellcheck
        language: system
        types: [shell]
        exclude: "^(install-bootloader|result|result-).*"

  # JSON/YAML/Markdown formatting
  - repo: local
    hooks:
      - id: prettier
        name: Format JSON/YAML/Markdown
        entry: nix develop -c prettier --write
        language: system
        types_or: [json, yaml, markdown]
        exclude: '^(flake\.lock|secrets/|nix-secrets/|nixos-old/).*'

  # Secret scanning with TruffleHog
  - repo: local
    hooks:
      - id: trufflehog
        name: TruffleHog secret scan
        entry: bash -c 'EXCLUDE_FILE=$(mktemp); echo -e "secrets/\nnix-secrets/\nnixos-old/\n.git/\nresult\nresult-*" > "$EXCLUDE_FILE"; trufflehog filesystem --only-verified --exclude-paths="$EXCLUDE_FILE" . ; rm -f "$EXCLUDE_FILE"' --
        language: system
        pass_filenames: false
        always_run: true

  # Secret scanning with GitLeaks
  - repo: local
    hooks:
      - id: gitleaks
        name: GitLeaks secret scan
        entry: nix develop -c bash scripts/scan-gitleaks.sh --protect
        language: system
        pass_filenames: false
        always_run: true

  # File integrity checks (only basic ones that don't need external tools)
  - repo: local
    hooks:
      - id: check-large-files
        name: Check for large files
        entry: bash scripts/check-large-files.sh
        language: system
        pass_filenames: false

# Global excludes
exclude: '^(result|result-.*|\.direnv|build/|secrets/.*\.age|nix-secrets/|nixos-old/).*'

chore(flake): bump mold input to ca272e2
  flake.lock
Due: none

feat(hosts/hal9000): add entropy systemd unit and open port 8585
  hosts/hal9000/default.nix
Due: nixfmt

feat(profiles/darwin): add cliclick to Homebrew brews
  profiles/darwin/desktop.nix
Due: nixfmt

chore(flake): bump mold input to 10ebd23
  flake.lock
Due: none

feat(home-manager/darwin): confirm Ghostty tab close when a process is running
  modules/home-manager/darwin/unified-themes.nix
Due: nixfmt

chore(flake): bump mold input to 0cf44c8
  flake.lock
Due: none

fix(themectl): detect ancestor terminal, reload cmux, parse JSONC editor settings
  scripts/themectl/themectl/hooks.py
Due: none

feat(maintenance-tools): scan ~/.codex/worktrees and linked git worktrees in project-cleanup
  modules/shared-packages/maintenance-tools.nix
Due: nixfmt

docs(hotkeys): correct macOS theme-cycle binding to Cmd+Shift+Space
  HOTKEYS.md
  config/hotkeys.yaml
  modules/home-manager/darwin/hammerspoon.nix
Due: nixfmt, prettier

docs: describe Ghostty/cmux reload path and project-cleanup roots
  README.md
  scripts/themectl/README.md
Due: prettier

fix(flake): evaluate skhd hex-keycase check against the tiling module
  flake.nix
Due: nixfmt

feat(hosts/hal9000): deploy entropy from its flake, enable backup timer
  flake.lock
  flake.nix
  hosts/hal9000/default.nix
Due: nixfmt

feat(themectl): sync OS light/dark appearance and reload cmux on theme apply
  .claude/skills/themectl/SKILL.md
  modules/themes/definitions/catppuccin-latte.nix
  modules/themes/definitions/catppuccin.nix
  modules/themes/definitions/everforest.nix
  modules/themes/definitions/flexoki-light.nix
  modules/themes/definitions/gruvbox.nix
  modules/themes/definitions/kanagawa.nix
  modules/themes/definitions/matte-black.nix
  modules/themes/definitions/nord.nix
  modules/themes/definitions/osaka-jade.nix
  modules/themes/definitions/ristretto.nix
  modules/themes/definitions/rose-pine.nix
  modules/themes/definitions/tokyo-night.nix
  scripts/themectl/README.md
  scripts/themectl/tests/test_hooks.py
  scripts/themectl/themectl/hooks.py
  scripts/themectl/themectl/themes.py
Due: nixfmt, prettier

chore: rotate github-token secret and bump mold input
  flake.lock
Due: none

feat(services): add persistent claude remote-control servers
  hosts/hal9000/default.nix
  hosts/halcyon/default.nix
  modules/services/claude-remote-control.nix
Due: nixfmt

chore(flake): bump mold to 2e26e6d
  flake.lock
Due: none

Update mold flake
  flake.lock
Due: none

refactor(profiles/darwin): install zed via homebrew cask instead of nixpkgs
  modules/shared-packages/default.nix
  profiles/darwin/desktop.nix
Due: nixfmt

chore(flake): update flake inputs
  flake.lock
Due: none

feat(hosts/bender): move peekaboo to openclaw tap and run its daemon via launchd
  hosts/bender/default.nix
Due: nixfmt

feat(home-manager/shell): add ~/.bun/bin to zsh PATH
  modules/home-manager/shell/zsh.nix
Due: nixfmt

fix(modules/nix-caches): replace retired cuda-maintainers cachix with cache.nixos-cuda.org
  modules/nix-caches.nix
Due: nixfmt

feat(hosts/hal9000): evict idle mold models after 5 minutes
  hosts/hal9000/default.nix
Due: nixfmt

chore(docs): remove TODO.md and its references
  AGENTS.md
  CLAUDE.md
  DESIGN.md
  README.md
  STANDARDS.md
  TODO.md
Due: prettier

update mold flake
  flake.lock
Due: none

feat(hosts/bender): use dedicated OpenRouter key secret
  users/regular/jamesbrink-darwin-slim.nix
Due: nixfmt

chore(flake): bump mold input
  flake.lock
Due: none

feat(users/jamesbrink): wire git-xet LFS transfer agent
  overlays/git-xet.nix
  users/regular/jamesbrink-shared.nix
Due: nixfmt

chore(mold): update input to 2eaebec0
  flake.lock
Due: none

feat(hosts/halcyon): add paperclip-up/down service helpers
  hosts/halcyon/default.nix
Due: nixfmt

feat(hosts/hal9000): replace Quantierra PG replica with plain PostgreSQL 17
  .claude/settings.json
  .claude/skills/pg-replica/SKILL.md
  .claude/skills/pg-replica/architecture.md
  .claude/skills/pg-replica/scripts/pg17-connections
  .claude/skills/pg-replica/scripts/pg17-databases
  .claude/skills/pg-replica/scripts/pg17-full-status
  .claude/skills/pg-replica/scripts/pg17-lag
  .claude/skills/pg-replica/scripts/pg17-logs
  .claude/skills/pg-replica/scripts/pg17-query
  .claude/skills/pg-replica/scripts/pg17-snapshots
  .claude/skills/pg-replica/scripts/pg17-status
  .claude/skills/pg-replica/scripts/pg17-tables
  .claude/skills/pg-replica/scripts/pg17-wal-status
  CLAUDE.md
  hosts/hal9000/default.nix
  hosts/hal9000/nginx.nix
  hosts/hal9000/zfs-monitor.html
  modules/services/postgresql-replica/default.nix
  modules/services/postgresql-replica/wal-sync.nix
  modules/shared-packages/devops-darwin.nix
Due: nixfmt, prettier

chore(mold): update input to 9c81f69f
  flake.lock
Due: none

chore(mold): update input to a6d82844
  flake.lock
Due: none

fix(hosts/hal9000): stop fstab/zfs-mount race that dropped boot to emergency mode
  hosts/hal9000/default.nix
Due: nixfmt

chore(mold): update input to 5d2b9511
  flake.lock
Due: none

feat(hosts/hal9000): serve Ternary Bonsai 2 27B via llama-swap
  CLAUDE.md
  flake.lock
  flake.nix
  hosts/hal9000/default.nix
  overlays/llama-cpp-prism.nix
Due: nixfmt, prettier

chore(mold): update input to 99218e36
  flake.lock
Due: none

fix(hosts/hal9000): serve Bonsai as a single 256K llama-swap model
  hosts/hal9000/default.nix
Due: nixfmt

fix(hosts/hal9000): use unstable llama-swap (v249) to avoid Process.start panic
  hosts/hal9000/default.nix
Due: nixfmt
