Repository jamesbrink/nixos: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixfmt, prettier

.pre-commit-config.yaml:

# Pre-commit hooks configuration
# Install hooks: pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Nix formatting
  - repo: local
    hooks:
      - id: nixfmt
        name: Format Nix files
        entry: nixfmt
        language: system
        files: '\.nix$'
        pass_filenames: true

  # Shell script linting
  - repo: local
    hooks:
      - id: shellcheck
        name: Lint shell scripts
        entry: shellcheck
        language: system
        types: [shell]
        exclude: "^(install-bootloader|result|result-).*"

  # JSON/YAML/Markdown formatting
  - repo: local
    hooks:
      - id: prettier
        name: Format JSON/YAML/Markdown
        entry: nix develop -c prettier --write
        language: system
        types_or: [json, yaml, markdown]
        exclude: '^(flake\.lock|secrets/|nix-secrets/|nixos-old/).*'

  # Secret scanning with TruffleHog
  - repo: local
    hooks:
      - id: trufflehog
        name: TruffleHog secret scan
        entry: bash -c 'EXCLUDE_FILE=$(mktemp); echo -e "secrets/\nnix-secrets/\nnixos-old/\n.git/\nresult\nresult-*" > "$EXCLUDE_FILE"; trufflehog filesystem --only-verified --exclude-paths="$EXCLUDE_FILE" . ; rm -f "$EXCLUDE_FILE"' --
        language: system
        pass_filenames: false
        always_run: true

  # Secret scanning with GitLeaks
  - repo: local
    hooks:
      - id: gitleaks
        name: GitLeaks secret scan
        entry: nix develop -c bash scripts/scan-gitleaks.sh --protect
        language: system
        pass_filenames: false
        always_run: true

  # File integrity checks (only basic ones that don't need external tools)
  - repo: local
    hooks:
      - id: check-large-files
        name: Check for large files
        entry: bash scripts/check-large-files.sh
        language: system
        pass_filenames: false

# Global excludes
exclude: '^(result|result-.*|\.direnv|build/|secrets/.*\.age|nix-secrets/|nixos-old/).*'

feat(themectl): auto-reload btop on theme switch via SIGUSR2
  scripts/themectl/themectl/hooks.py
Due: none

fix(btop): correct rose-pine theme to use Moon (dark) variant
  modules/themes/assets/btop/rose-pine.theme
Due: none

feat(themectl): add wallpaper cycling command and hotkeys
  config/hotkeys.yaml
  modules/home-manager/darwin/hammerspoon.nix
  modules/themes/sync-from-omarchy.py
  scripts/themectl/tests/test_yabai_helper.py
  scripts/themectl/themectl/assets.py
  scripts/themectl/themectl/cli.py
  scripts/themectl/themectl/hooks.py
  scripts/themectl/themectl/state.py
Due: nixfmt, prettier

fix(themectl): improve nvim live theme reload
  modules/home-manager/editor/neovim.nix
  modules/themes/definitions/catppuccin-latte.nix
  modules/themes/definitions/catppuccin.nix
  modules/themes/definitions/everforest.nix
  modules/themes/definitions/flexoki-light.nix
  modules/themes/definitions/gruvbox.nix
  modules/themes/definitions/kanagawa.nix
  modules/themes/definitions/matte-black.nix
  modules/themes/definitions/nord.nix
  modules/themes/definitions/osaka-jade.nix
  modules/themes/definitions/ristretto.nix
  modules/themes/definitions/rose-pine.nix
  modules/themes/definitions/tokyo-night.nix
  scripts/themectl/themectl/hooks.py
Due: nixfmt

feat(themectl): auto-install VSCode/Cursor theme extensions
  config/themectl-automation.yaml
  modules/themes/definitions/catppuccin-latte.nix
  modules/themes/definitions/catppuccin.nix
  modules/themes/definitions/everforest.nix
  modules/themes/definitions/flexoki-light.nix
  modules/themes/definitions/gruvbox.nix
  modules/themes/definitions/kanagawa.nix
  modules/themes/definitions/matte-black.nix
  modules/themes/definitions/nord.nix
  modules/themes/definitions/osaka-jade.nix
  modules/themes/definitions/ristretto.nix
  modules/themes/definitions/rose-pine.nix
  modules/themes/definitions/tokyo-night.nix
  scripts/themectl/themectl/hooks.py
  scripts/themectl/themectl/themes.py
Due: nixfmt, prettier

fix(themectl): handle Cursor marketplace differences
  modules/themes/definitions/flexoki-light.nix
  modules/themes/definitions/kanagawa.nix
  modules/themes/definitions/osaka-jade.nix
  scripts/themectl/themectl/hooks.py
  scripts/themectl/themectl/themes.py
Due: nixfmt

feat(themes): package missing VSCode/Cursor theme extensions via Nix
  modules/home-manager/darwin/cursor-extensions.nix
  modules/themes/definitions/flexoki-light.nix
  modules/themes/definitions/kanagawa.nix
  modules/themes/definitions/osaka-jade.nix
  packages/vscode-extensions/default.nix
  users/regular/jamesbrink-darwin.nix
Due: nixfmt

feat(themes): add midnight.nvim for matte-black neovim theme
  modules/home-manager/editor/neovim.nix
  modules/themes/definitions/matte-black.nix
Due: nixfmt

feat(nvim): add custom matte-black colorscheme
  modules/home-manager/editor/neovim.nix
  modules/home-manager/editor/nvim-colors/matte-black.lua
  modules/themes/definitions/matte-black.nix
Due: nixfmt

feat(skills): add themectl development skill
  .claude/skills/themectl/SKILL.md
Due: prettier

feat(nvim): add custom osaka-jade colorscheme
  modules/home-manager/editor/neovim.nix
  modules/home-manager/editor/nvim-colors/osaka-jade.lua
  modules/themes/definitions/osaka-jade.nix
Due: nixfmt

feat(themectl): cycle-background now cycles ALL theme wallpapers
  scripts/themectl/themectl/cli.py
  scripts/themectl/themectl/state.py
  scripts/themectl/uv.lock
Due: none

feat(themes): add cursor sections to all theme definitions
  modules/themes/definitions/catppuccin-latte.nix
  modules/themes/definitions/catppuccin.nix
  modules/themes/definitions/everforest.nix
  modules/themes/definitions/gruvbox.nix
  modules/themes/definitions/matte-black.nix
  modules/themes/definitions/nord.nix
  modules/themes/definitions/ristretto.nix
  modules/themes/definitions/rose-pine.nix
  modules/themes/definitions/tokyo-night.nix
Due: nixfmt

fix(shell): make bash config compatible with macOS bash 3.2
  modules/home-manager/cli-tools.nix
  modules/home-manager/shell/bash.nix
  modules/home-manager/shell/starship.nix
Due: nixfmt

chore(runner): update upstream actions-runner image
  containers/github-runner-full/Dockerfile
Due: none

feat(hosts/bender): add Mac Mini M4 with slim darwin profile
  flake.nix
  hosts/bender/default.nix
  hosts/bender/hardware.nix
  modules/darwin/local-hosts.nix
  modules/home-manager/shell/default.nix
  profiles/darwin-slim/default.nix
  scripts/nix-gc.sh
  scripts/themectl/themectl/cli.py
  users/regular/jamesbrink-darwin-slim.nix
  users/regular/ssh/config.d/00-local-hosts
Due: nixfmt

feat(hosts/bender): add OpenClaw dependencies
  hosts/bender/default.nix
Due: nixfmt

feat(darwin-slim): add shared-packages and OpenClaw tools
  hosts/bender/default.nix
  profiles/darwin-slim/default.nix
Due: nixfmt

feat(hosts/bender): add full OpenClaw tool suite
  hosts/bender/default.nix
Due: nixfmt

feat(hosts): add derp (10.70.100.209) to local network hosts
  modules/darwin/local-hosts.nix
  modules/home-manager/shell/default.nix
  users/regular/ssh/config.d/00-local-hosts
Due: nixfmt

fix(hosts): update bender IP to 10.70.100.209 (not derp)
  modules/darwin/local-hosts.nix
  modules/home-manager/shell/default.nix
  users/regular/ssh/config.d/00-local-hosts
Due: nixfmt

feat(hosts): add derp (10.70.100.207) - Arch Linux/Omarchy MacBook
  modules/darwin/local-hosts.nix
  modules/home-manager/shell/default.nix
  users/regular/ssh/config.d/00-local-hosts
Due: nixfmt

fix(shell): add bender and derp to ghostty-ssh-setup hosts
  modules/home-manager/shell/zsh.nix
Due: nixfmt

fix(scripts): add bender to Darwin host lists in deploy-all and nix-gc
  scripts/deploy-all.sh
  scripts/nix-gc.sh
Due: none

docs: sync documentation with current state
  CLAUDE.md
  README.md
  SECRETS.md
  TECH_STACK.md
  TODO.md
Due: prettier

fix(hyprland): update theme paths after refactor
  modules/home-manager/hyprland/default.nix
Due: nixfmt

fix(scripts): use newline-separated Darwin hosts in fallbacks
  scripts/deploy-all.sh
  scripts/nix-gc.sh
Due: none

refactor(scripts): use printf for Darwin hosts fallback
  scripts/deploy-all.sh
  scripts/nix-gc.sh
Due: none

fix(halcyon): use proper synthetic.conf firmlink for NFS mounts
  hosts/halcyon/default.nix
Due: nixfmt

feat: add bender SSH key to all authorized_keys
  modules/netboot/flake.nix
  modules/netboot/n100-installer.nix
  modules/ssh-keys.nix
  users/regular/jamesbrink-darwin-slim.nix
  users/regular/jamesbrink-darwin.nix
  users/regular/jamesbrink-linux.nix
  users/root.nix
Due: nixfmt

feat(bender): add tailscale via homebrew cask
  hosts/bender/default.nix
Due: nixfmt

feat: add halcyon and bender to local hosts
  modules/darwin/local-hosts.nix
  modules/local-hosts.nix
Due: nixfmt

feat: add mikrotik-terraform as submodule for network management
  .gitmodules
Due: none

docs: add mikrotik-terraform submodule documentation
  CLAUDE.md
  DESIGN.md
  TECH_STACK.md
Due: prettier

feat: add git hooks to keep submodules in sync
  CLAUDE.md
  scripts/git-hooks/install-hooks.sh
  scripts/git-hooks/pre-push
Due: prettier

feat(k8s): add urandomio GitHub Actions runners
  k8s/README.md
  k8s/urandomio-github-runners/README.md
  k8s/urandomio-github-runners/values-m.yaml
  k8s/urandomio-github-runners/values-s.yaml
  scripts/deploy-k8s.py
Due: prettier

fix(hal9000): use rbind for /export/storage-fast to propagate child ZFS mounts
  hosts/hal9000/default.nix
Due: nixfmt

Add NFS export for /storage-fast/AI and crossmnt for nested mounts
  hosts/hal9000/default.nix
Due: nixfmt

Add dedicated NFS export for /storage-fast/AI and update bender NFS config
  hosts/bender/default.nix
Due: nixfmt
