Repository jamesbrink/nixos: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixfmt, prettier

.pre-commit-config.yaml:

# Pre-commit hooks configuration
# Install hooks: pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Nix formatting
  - repo: local
    hooks:
      - id: nixfmt
        name: Format Nix files
        entry: nixfmt
        language: system
        files: '\.nix$'
        pass_filenames: true

  # Shell script linting
  - repo: local
    hooks:
      - id: shellcheck
        name: Lint shell scripts
        entry: shellcheck
        language: system
        types: [shell]
        exclude: "^(install-bootloader|result|result-).*"

  # JSON/YAML/Markdown formatting
  - repo: local
    hooks:
      - id: prettier
        name: Format JSON/YAML/Markdown
        entry: nix develop -c prettier --write
        language: system
        types_or: [json, yaml, markdown]
        exclude: '^(flake\.lock|secrets/|nix-secrets/|nixos-old/).*'

  # Secret scanning with TruffleHog
  - repo: local
    hooks:
      - id: trufflehog
        name: TruffleHog secret scan
        entry: bash -c 'EXCLUDE_FILE=$(mktemp); echo -e "secrets/\nnix-secrets/\nnixos-old/\n.git/\nresult\nresult-*" > "$EXCLUDE_FILE"; trufflehog filesystem --only-verified --exclude-paths="$EXCLUDE_FILE" . ; rm -f "$EXCLUDE_FILE"' --
        language: system
        pass_filenames: false
        always_run: true

  # Secret scanning with GitLeaks
  - repo: local
    hooks:
      - id: gitleaks
        name: GitLeaks secret scan
        entry: nix develop -c bash scripts/scan-gitleaks.sh --protect
        language: system
        pass_filenames: false
        always_run: true

  # File integrity checks (only basic ones that don't need external tools)
  - repo: local
    hooks:
      - id: check-large-files
        name: Check for large files
        entry: bash scripts/check-large-files.sh
        language: system
        pass_filenames: false

# Global excludes
exclude: '^(result|result-.*|\.direnv|build/|secrets/.*\.age|nix-secrets/|nixos-old/).*'

fix(runners): make github-runner-full build reliable (py312 + pipx)
  containers/github-runner-full/Dockerfile
Due: none

Add hal9000-AI NFS mount to darwin configs (bender and halcyon)
  hosts/bender/default.nix
  hosts/halcyon/default.nix
  users/regular/jamesbrink-darwin-slim.nix
Due: nixfmt

Add insecure option to /storage-fast/AI NFS export for macOS compatibility
  hosts/hal9000/default.nix
  hosts/halcyon/default.nix
  users/regular/jamesbrink-darwin-slim.nix
Due: nixfmt

chore: update nix-homebrew flake input
  flake.lock
Due: none

feat(hosts/bender): add alacritty and ghostty terminals
  hosts/bender/default.nix
  users/regular/jamesbrink-darwin-slim.nix
Due: nixfmt

fix(hosts/bender): use nixpkgs alacritty instead of homebrew cask
  flake.lock
  hosts/bender/default.nix
Due: nixfmt

feat(n100): Enable Tailscale VPN for all N100 cluster nodes
  profiles/n100/default.nix
Due: nixfmt

feat(users): Add bender user for N100 cluster
  profiles/n100/default.nix
  users/regular/bender.nix
Due: nixfmt

feat(n100): Add GUI automation packages (xdotool, scrot, xclip, imagemagick)
  profiles/n100/default.nix
Due: nixfmt

feat(n100): Add ydotool for uinput-based GUI automation
  profiles/n100/default.nix
Due: nixfmt

feat(n100): Auto-login as bender on all N100 boxes
  profiles/n100/default.nix
Due: nixfmt

feat(desktop): Add KDE Plasma profile, enable on n100-02
  hosts/n100-02/default.nix
  profiles/desktop/kde.nix
Due: nixfmt

feat(users): Add Claude OAuth and OpenRouter API key management
  modules/home-manager/shell/bash.nix
  modules/home-manager/shell/zsh.nix
  users/regular/jamesbrink-darwin.nix
  users/regular/jamesbrink-linux.nix
Due: nixfmt

feat(users): expose anthropic-key as ANTHROPIC_API_KEY across all profiles
  modules/home-manager/shell/bash.nix
  modules/home-manager/shell/zsh.nix
  users/regular/jamesbrink-darwin-slim.nix
  users/regular/jamesbrink-darwin.nix
  users/regular/jamesbrink-linux.nix
Due: nixfmt

flake: point comfyui-nix input to hal9000 branch
  flake.lock
  flake.nix
Due: nixfmt

flake: bump comfyui-nix (model downloader HF auth fix)
  flake.lock
Due: none

docs(CLAUDE): update theme paths and add GitHub Actions section
  CLAUDE.md
Due: prettier

fix(hosts/alienware): remove deprecated cudaArch option from comfyui
  hosts/alienware/default.nix
Due: nixfmt

fix(shell/zsh): increase file descriptor limit for Nix operations
  modules/home-manager/shell/zsh.nix
Due: nixfmt

fix(modules/nix-caches): increase file descriptor limits for Nix builds
  modules/nix-caches.nix
Due: nixfmt

fix: increase file descriptor limits and resolve deprecation warnings
  flake.lock
  flake.nix
  hosts/alienware/default.nix
  hosts/hal9000/default.nix
  hosts/halcyon/default.nix
  modules/home-manager/editor/neovim.nix
  modules/nix-caches.nix
  modules/nix-limits.nix
  modules/shared-packages/default.nix
  profiles/n100/default.nix
Due: nixfmt

fix(neovim): revert initLua back to extraLuaConfig
  modules/home-manager/editor/neovim.nix
Due: nixfmt

fix(python): make poetry Linux-only due to rapidfuzz build failure on Darwin
  modules/shared-packages/python.nix
Due: nixfmt

fix(darwin): disable tiling profile and use unstable poetry
  hosts/halcyon/default.nix
  modules/shared-packages/python.nix
Due: nixfmt

fix(darwin/restic): use command instead of script in launchd agent
  modules/darwin/restic-backups.nix
Due: nixfmt

fix(python): remove poetry due to rapidfuzz build failure on Darwin
  modules/shared-packages/python.nix
Due: nixfmt

fix(darwin/bender): add Claude OAuth tokens and default to secondary profile
  modules/home-manager/shell/bash.nix
  modules/home-manager/shell/zsh.nix
  users/regular/jamesbrink-darwin-slim.nix
Due: nixfmt

feat(shell): extend claude-profile with api mode and prevent auth conflicts
  modules/home-manager/shell/bash.nix
  modules/home-manager/shell/zsh.nix
Due: nixfmt

fix(shell): prevent token leak in claude-profile status output
  modules/home-manager/shell/bash.nix
  modules/home-manager/shell/zsh.nix
Due: nixfmt

feat(shell): show token fingerprint and status in claude-profile help
  modules/home-manager/shell/bash.nix
  modules/home-manager/shell/zsh.nix
Due: nixfmt

feat(shell): add none/unset option to claude-profile
  modules/home-manager/shell/bash.nix
  modules/home-manager/shell/zsh.nix
Due: nixfmt

ci: allow check-upstream-runner to open PRs
  .github/workflows/check-upstream-runner.yaml
Due: prettier

chore(runner): update upstream actions-runner image
  containers/github-runner-full/Dockerfile
Due: none

fix(flake): switch comfyui-nix input back to main branch
  flake.lock
  flake.nix
Due: nixfmt

chore(runner): pin actions-runner to explicit 2.331.0 tag
  containers/github-runner-full/Dockerfile
Due: none

ci(runner): fix metadata tags for PR builds
  .github/workflows/build-runner-image.yaml
Due: prettier
