Repository jamesbrink/nixos: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixfmt, prettier

.pre-commit-config.yaml:

# Pre-commit hooks configuration
# Install hooks: pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Nix formatting
  - repo: local
    hooks:
      - id: nixfmt
        name: Format Nix files
        entry: nixfmt-rfc-style
        language: system
        files: '\.nix$'
        pass_filenames: true

  # Shell script linting
  - repo: local
    hooks:
      - id: shellcheck
        name: Lint shell scripts
        entry: shellcheck
        language: system
        types: [shell]
        exclude: '^(install-bootloader|result|result-).*'

  # JSON/YAML/Markdown formatting
  - repo: local
    hooks:
      - id: prettier
        name: Format JSON/YAML/Markdown
        entry: prettier --write
        language: system
        types_or: [json, yaml, markdown]
        exclude: '^(flake\.lock|secrets/|nix-secrets/|nixos-old/).*'

  # Secret scanning with TruffleHog
  - repo: local
    hooks:
      - id: trufflehog
        name: TruffleHog secret scan
        entry: bash -c 'trufflehog filesystem --only-verified --no-update --exclude-paths=secrets/ --exclude-paths=nix-secrets/ --exclude-paths=nixos-old/ --exclude-paths=.git/ --exclude-paths=result --exclude-paths=result-* "$@"' --
        language: system
        pass_filenames: false
        always_run: true

  # Secret scanning with GitLeaks
  - repo: local
    hooks:
      - id: gitleaks
        name: GitLeaks secret scan
        entry: bash scripts/scan-gitleaks.sh --protect
        language: system
        pass_filenames: false
        always_run: true

  # Check for large files
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-added-large-files
        args: ['--maxkb=5000']
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-executables-have-shebangs
      - id: end-of-file-fixer
        exclude: '^(secrets/|nix-secrets/|nixos-old/).*'
      - id: trailing-whitespace
        exclude: '^(secrets/|nix-secrets/|nixos-old/).*'
      - id: mixed-line-ending
        args: ['--fix=lf']
        exclude: '^(secrets/|nix-secrets/|nixos-old/).*'

# Global excludes
exclude: '^(result|result-.*|\.direnv|build/|secrets/.*\.age|nix-secrets/|nixos-old/).*'

fix: Simplify pre-commit hooks to work outside nix shell
  .pre-commit-config.yaml
  CLAUDE.md
  README.md
  SECRETS.md
  docs/VIM.md
  docs/nix-darwin-trackpad-options.md
  docs/pixinsight.md
  modules/packages/postgis-reset/hooks.json
  overlays/README.md
  scripts/check-large-files.sh
  scripts/scan-gitleaks.sh
  scripts/scan-secrets-history.sh
  scripts/scan-secrets.sh
Due: prettier

docs: Add comprehensive security scanning documentation
  CLAUDE.md
  README.md
Due: prettier

docs: Improve README.md formatting
  README.md
Due: prettier

docs: Fix project structure tree alignment
  README.md
Due: prettier

feat: Upgrade Python from 3.11 to 3.13 and add markitdown package
  hosts/alienware/default.nix
  hosts/darkstarmk6mod1/default.nix
  modules/shared-packages/default.nix
Due: nixfmt

feat: Add filtering options to deploy-all script
  scripts/deploy-all.sh
Due: none

docs: Update README with new deploy-all filtering options
  README.md
Due: prettier

fix: Fix deployment report statistics not displaying in deploy-all script
  scripts/deploy-all.sh
Due: none

feat: Add Infracost API key environment variable configuration
  CLAUDE.md
  users/regular/jamesbrink-darwin.nix
  users/regular/jamesbrink-linux.nix
  users/regular/jamesbrink-shared.nix
Due: nixfmt, prettier

fix: Add NFS firewall rules and port configuration for hal9000
  hosts/hal9000/default.nix
Due: nixfmt

feat: Add comprehensive Samba/SMB file sharing configuration for hal9000
  docs/samba-setup.md
  flake.nix
  hosts/hal9000/default.nix
  modules/services/samba-server.nix
  scripts/samba-add-user.sh
Due: nixfmt, prettier

fix: Resolve macOS SMB connection issues and deploy Samba to all Linux hosts
  hosts/alienware/default.nix
  hosts/hal9000/default.nix
  modules/services/samba-server.nix
  profiles/n100/default.nix
Due: nixfmt

docs: Add comprehensive SMB/Samba shares documentation to README
  README.md
Due: prettier

refactor: Consolidate netboot installer configuration
  CLAUDE.md
  README.md
  modules/netboot/flake.nix
  modules/netboot/n100-installer-fixed.nix
  modules/netboot/n100-installer.nix
Due: nixfmt, prettier

fix: Update Wireshark cask name to wireshark-app
  profiles/darwin/desktop.nix
Due: nixfmt

feat: Add CustomUserPreferences for persistent macOS trackpad gestures
  docs/nix-darwin-trackpad-options.md
  profiles/darwin/default.nix
Due: nixfmt, prettier

fix: Comment out problematic trackpad settings on Darwin hosts
  profiles/darwin/default.nix
Due: nixfmt

fix: Resolve macOS agenix token race condition on shell startup
  users/regular/jamesbrink-darwin.nix
  users/regular/jamesbrink-shared.nix
Due: nixfmt

Disable darwin finder settings
  profiles/darwin/default.nix
Due: nixfmt

fix: Move macOS NFS automounts away from /Volumes to restore Finder network browsing
  CLAUDE.md
  README.md
  hosts/darkstarmk6mod1/default.nix
  hosts/halcyon/default.nix
  hosts/sevastopol/default.nix
Due: nixfmt, prettier

fix: Darwin restic backup launchd agent path issues
  hosts/halcyon/default.nix
  modules/darwin/restic-backups.nix
Due: nixfmt

feat: Update deploy-all script to persist logs and comment out UxPlay service
  .claude/settings.json
  hosts/hal9000/default.nix
  scripts/deploy-all.sh
  users/regular/jamesbrink-shared.nix
Due: nixfmt, prettier

feat: Add BFG Repo-Cleaner to shared packages
  modules/shared-packages/default.nix
Due: nixfmt

feat: Add watch command to shared packages
  modules/shared-packages/default.nix
Due: nixfmt

feat: Add git-lfs to shared packages
  modules/shared-packages/default.nix
Due: nixfmt

docs: Add macOS restic backup permission fix to troubleshooting
  README.md
Due: prettier

feat: Add eza to shared packages
  modules/shared-packages/default.nix
Due: nixfmt

feat: Add nodejs and pnpm to shared packages
  modules/shared-packages/default.nix
Due: nixfmt

feat: Add Cursor code editor to all platforms
  modules/shared-packages/default.nix
  profiles/darwin/desktop.nix
  users/regular/jamesbrink-darwin.nix
  users/regular/jamesbrink-linux.nix
  users/regular/jamesbrink-shared.nix
Due: nixfmt

feat: Update PostgreSQL reset script for new ZFS snapshot
  hosts/hal9000/postgresql-zfs-import.md
  modules/packages/postgis-reset/default.nix
Due: nixfmt, prettier

feat: Add AWS configuration for root user on all hosts
  modules/aws-root-config.nix
  profiles/darwin/default.nix
  profiles/desktop/default-stable.nix
  profiles/server/default.nix
Due: nixfmt

feat: Add unified shell experience for all users and hosts
  hosts/alienware/default.nix
  hosts/hal9000/default.nix
  modules/unified-shell-experience.nix
  profiles/darwin/default.nix
  profiles/desktop/default-stable.nix
  profiles/server/default.nix
  users/regular/jamesbrink-shared.nix
Due: nixfmt

fix: Restore clean single-line prompt style
  modules/unified-shell-experience.nix
Due: nixfmt

fix: Address oh-my-zsh permissions and restore default prompt colors
  modules/unified-shell-experience.nix
Due: nixfmt

docs: Update README.md and CLAUDE.md with recent architecture changes
  CLAUDE.md
  README.md
Due: prettier

feat(hal9000): Add PostgreSQL WAL sync service and timer
  hosts/hal9000/default.nix
Due: nixfmt

feat: Rename postgis to postgres13 and add development mode commands
  hosts/hal9000/default.nix
  hosts/hal9000/postgresql-management.md
  hosts/hal9000/postgresql-zfs-import.md
  hosts/hal9000/zfs-monitor.html
  modules/aws-root-config.nix
  modules/packages/postgres13-reset/default.nix
  modules/packages/postgres13-reset/hooks.json
  modules/packages/postgres13-reset/wal-sync.nix
  modules/shared-packages/devops-darwin.nix
  modules/unified-shell-experience.nix
Due: nixfmt, prettier
