Repository jamesbrink/nixos: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixfmt, prettier

.pre-commit-config.yaml:

# Pre-commit hooks configuration
# Install hooks: pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Nix formatting
  - repo: local
    hooks:
      - id: nixfmt
        name: Format Nix files
        entry: nixfmt
        language: system
        files: '\.nix$'
        pass_filenames: true

  # Shell script linting
  - repo: local
    hooks:
      - id: shellcheck
        name: Lint shell scripts
        entry: shellcheck
        language: system
        types: [shell]
        exclude: "^(install-bootloader|result|result-).*"

  # JSON/YAML/Markdown formatting
  - repo: local
    hooks:
      - id: prettier
        name: Format JSON/YAML/Markdown
        entry: nix develop -c prettier --write
        language: system
        types_or: [json, yaml, markdown]
        exclude: '^(flake\.lock|secrets/|nix-secrets/|nixos-old/).*'

  # Secret scanning with TruffleHog
  - repo: local
    hooks:
      - id: trufflehog
        name: TruffleHog secret scan
        entry: bash -c 'EXCLUDE_FILE=$(mktemp); echo -e "secrets/\nnix-secrets/\nnixos-old/\n.git/\nresult\nresult-*" > "$EXCLUDE_FILE"; trufflehog filesystem --only-verified --exclude-paths="$EXCLUDE_FILE" . ; rm -f "$EXCLUDE_FILE"' --
        language: system
        pass_filenames: false
        always_run: true

  # Secret scanning with GitLeaks
  - repo: local
    hooks:
      - id: gitleaks
        name: GitLeaks secret scan
        entry: nix develop -c bash scripts/scan-gitleaks.sh --protect
        language: system
        pass_filenames: false
        always_run: true

  # File integrity checks (only basic ones that don't need external tools)
  - repo: local
    hooks:
      - id: check-large-files
        name: Check for large files
        entry: bash scripts/check-large-files.sh
        language: system
        pass_filenames: false

# Global excludes
exclude: '^(result|result-.*|\.direnv|build/|secrets/.*\.age|nix-secrets/|nixos-old/).*'

fix(darwin): properly configure menu bar auto-hide for macOS 26 Tahoe
  profiles/darwin/tiling.nix
Due: nixfmt

feat: add macos settings delta script
  profiles/darwin/tiling.nix
  scripts/macos-defaults-delta.py
Due: nixfmt

feat(scripts): enhance macos-defaults-delta with factory defaults and global domain tracking
  scripts/macos-defaults-delta.py
Due: none

feat(scripts): add menu bar auto-hide toggle script
  scripts/toggle-menubar.sh
Due: none

feat(macos): implement menu bar auto-hide control with darwin notifications
  flake.nix
  profiles/darwin/tiling.nix
  scripts/macos-defaults-delta.py
  scripts/themectl/tests/test_macos.py
  scripts/themectl/themectl/macos.py
Due: nixfmt

feat(sketchybar): add Tailscale status indicator
  modules/darwin/sketchybar.nix
Due: nixfmt

feat(sketchybar): add battery status indicator
  modules/darwin/sketchybar.nix
Due: nixfmt

feat(darwin/hotkeys): resolve macOS hotkey conflicts and enhance screenshot behavior
  config/hotkeys.yaml
  modules/darwin/yabai.nix
  modules/home-manager/darwin/hammerspoon.nix
Due: nixfmt, prettier

Add date to sketchybar
  modules/darwin/sketchybar.nix
Due: nixfmt

feat(sketchybar): reorder clock and window title for fixed positioning
  modules/darwin/sketchybar.nix
Due: nixfmt

feat(sevastopol): add kids user account with parental controls and games
  hosts/sevastopol/default.nix
  users/regular/GAMES-GUIDE.md
  users/regular/girls-darwin-README.md
  users/regular/girls-darwin.nix
  users/regular/girls-games-collection.nix
Due: nixfmt, prettier

feat(darwin/hotkeys): simplify window resize bindings
  config/hotkeys.yaml
Due: prettier

feat(hyprland): add screensaver and idle management
  config/hotkeys.yaml
  modules/home-manager/hyprland/default.nix
  profiles/desktop/hyprland.nix
Due: nixfmt, prettier

feat(hal9000): disable nginx and web services, keep only postgres13 and ollama
  hosts/hal9000/default.nix
Due: nixfmt

feat(hal9000): add k3s kubernetes cluster with GPU support
  hosts/hal9000/default.nix
  modules/services/k3s-manifests/nvidia-device-plugin.yaml
  modules/services/k3s-manifests/nvidia-runtime-class.yaml
  modules/services/k3s-manifests/traefik-helmchart.yaml
  modules/services/k3s.nix
Due: nixfmt, prettier

feat(k3s): implement Traefik ingress using proper NixOS patterns
  modules/home-manager/k8s-client.nix
  modules/services/k3s-manifests/traefik-helmchart.yaml
  modules/services/k3s.nix
  users/regular/jamesbrink-shared.nix
Due: nixfmt, prettier

Fix k3s deployment
  AGENTS.md
  hosts/hal9000/default.nix
  hosts/n100-01/default.nix
  hosts/n100-02/default.nix
  hosts/n100-03/default.nix
  hosts/n100-04/default.nix
  modules/home-manager/k8s-client.nix
  modules/home-manager/shell/default.nix
  modules/services/k3s.nix
  profiles/n100/default.nix
  scripts/secrets-edit.sh
  users/regular/jamesbrink-darwin.nix
  users/regular/jamesbrink-linux.nix
  users/regular/jamesbrink-shared.nix
Due: nixfmt, prettier

k8s wip
  hosts/hal9000/default.nix
  modules/services/internal-dns/default.nix
  modules/services/k3s.nix
Due: nixfmt

fix(k3s): resolve wildcard DNS search domain conflicts blocking ACME
  hosts/hal9000/default.nix
  modules/services/internal-dns/default.nix
  modules/services/k3s.nix
Due: nixfmt

fix(n100): apply DNS wildcard fixes to all n100 nodes and shared hosts
  modules/local-hosts.nix
  profiles/n100/default.nix
Due: nixfmt

feat(k3s): add alienware as GPU worker + node labels support
  hosts/alienware/default.nix
  hosts/hal9000/default.nix
  k8s/quantierra-github-runners/charts/values.base.yaml
  k8s/quantierra-github-runners/manifests/runners.yaml
  modules/services/k3s.nix
  profiles/n100/default.nix
Due: nixfmt, prettier

fix(alienware): correct k3s-token secret path
  hosts/alienware/default.nix
  k8s/quantierra-github-runners/manifests/runners.yaml
Due: nixfmt, prettier

fix(k3s): resolve GPU detection on alienware + GitHub runners quota issue
  hosts/alienware/default.nix
  hosts/hal9000/default.nix
  k8s/quantierra-github-runners/manifests/namespace.yaml
  k8s/quantierra-github-runners/manifests/runners.yaml
  modules/services/k3s.nix
  profiles/n100/default.nix
Due: nixfmt, prettier

feat(k8s): migrate to official GitHub Actions Runner Controller
  .pre-commit-config.yaml
  k8s/quantierra-github-runners/README.md
  k8s/quantierra-github-runners/RUNNER_TIERS.md
  k8s/quantierra-github-runners/charts/secrets.example.yaml
  k8s/quantierra-github-runners/charts/values.base.yaml
  k8s/quantierra-github-runners/charts/values.prod.yaml
  k8s/quantierra-github-runners/manifests/actions.summerwind.dev_horizontalrunnerautoscalers.yaml
  k8s/quantierra-github-runners/manifests/actions.summerwind.dev_runnerdeployments.yaml
  k8s/quantierra-github-runners/manifests/actions.summerwind.dev_runnerreplicasets.yaml
  k8s/quantierra-github-runners/manifests/actions.summerwind.dev_runners.yaml
  k8s/quantierra-github-runners/manifests/actions.summerwind.dev_runnersets.yaml
  k8s/quantierra-github-runners/manifests/namespace.yaml
  k8s/quantierra-github-runners/manifests/runners.yaml
  k8s/quantierra-github-runners/values-l.yaml
  k8s/quantierra-github-runners/values-m.yaml
  k8s/quantierra-github-runners/values-s.yaml
  k8s/quantierra-github-runners/values-xl.yaml
  scripts/scan-gitleaks.sh
Due: prettier

feat(ci): add custom GitHub Actions runner image with full dev tooling
  .github/workflows/build-runner-image.yaml
  .github/workflows/check-upstream-runner.yaml
  containers/github-runner-full/.dockerignore
  containers/github-runner-full/CI-CD.md
  containers/github-runner-full/Dockerfile
  containers/github-runner-full/README.md
  containers/github-runner-full/build.sh
  containers/github-runner-full/set-package-public.sh
  k8s/quantierra-github-runners/README.md
  k8s/quantierra-github-runners/upgrade-runner-image.sh
  k8s/quantierra-github-runners/values-l.yaml
  k8s/quantierra-github-runners/values-m.yaml
  k8s/quantierra-github-runners/values-s.yaml
  k8s/quantierra-github-runners/values-xl.yaml
Due: prettier

feat(k8s): optimize GitHub Actions runner resources and add overflow scheduling
  k8s/quantierra-github-runners/README.md
  k8s/quantierra-github-runners/values-l.yaml
  k8s/quantierra-github-runners/values-m.yaml
  k8s/quantierra-github-runners/values-s.yaml
  k8s/quantierra-github-runners/values-xl.yaml
Due: prettier

feat(scripts): add JDiskReport launcher with Java 8 support
  scripts/launch-jdiskreport.sh
Due: none

feat(hyprland): update screensaver and idle management config
  modules/home-manager/hyprland/default.nix
Due: nixfmt

feat(disk-tools): add modern disk usage analyzers and improve dock config
  hosts/halcyon/default.nix
  modules/darwin/packages.nix
  modules/home-manager/cli-tools.nix
Due: nixfmt

fix(hotkeys): resolve screenshot and workspace move conflicts
  HOTKEYS.md
  config/hotkeys.yaml
  modules/darwin/yabai.nix
  profiles/darwin/tiling.nix
Due: nixfmt, prettier

feat(scripts): add k3s agent setup script for Arch Linux
  scripts/setup-k3s-arch.sh
Due: none

feat(k8s): add Rancher and monitoring deployment with automated scripts
  k8s/quantierra-github-runners/README.md
  k8s/rancher/INSTALL-MONITORING.md
  k8s/rancher/README.md
  k8s/rancher/monitoring-values.yaml
  k8s/rancher/values.yaml
  scripts/README-deploy-k8s.md
  scripts/deploy-k8s.py
  scripts/deploy-rancher.sh
Due: prettier

fix(runner): remove pre-installed Nix to allow cachix/install-nix-action
  containers/github-runner-full/Dockerfile
  containers/github-runner-full/README.md
Due: prettier

fix(ci): add pull-requests permission to upstream check workflow
  .github/workflows/check-upstream-runner.yaml
Due: prettier

feat(k8s): add derp node to M-tier runners with topology spread
  k8s/quantierra-github-runners/values-m.yaml
Due: prettier

feat(k8s): add dual runner labels and derp node support
  AGENTS.md
  CLAUDE.md
  docs/github-actions.md
  flake.nix
  k8s/quantierra-github-runners/README.md
  k8s/quantierra-github-runners/values-l.yaml
  k8s/quantierra-github-runners/values-m.yaml
  k8s/quantierra-github-runners/values-s.yaml
  k8s/quantierra-github-runners/values-xl.yaml
  k8s/rancher/INSTALL-MONITORING.md
  k8s/rancher/README.md
  scripts/README-deploy-k8s.md
  scripts/deploy-k8s.py
Due: nixfmt, prettier

fix(k8s/rancher): keep grafana proxy synced
  AGENTS.md
  CLAUDE.md
  flake.lock
  flake.nix
  k8s/rancher/README.md
  k8s/rancher/grafana-nginx.conf
  k8s/rancher/monitoring-values.yaml
  scripts/deploy-k8s.py
  scripts/deploy-rancher.sh
Due: nixfmt, prettier

docs(core): refresh readmes and alignment
  AGENTS.md
  CLAUDE.md
  DESIGN.md
  README.md
  VISION.md
  docs/desktop-environment-switching.md
  docs/github-actions.md
  k8s/README.md
  k8s/rancher/INSTALL-MONITORING.md
Due: prettier
