Repository jamesbrink/nixos: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixfmt, prettier

.pre-commit-config.yaml:

# Pre-commit hooks configuration
# Install hooks: pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Nix formatting
  - repo: local
    hooks:
      - id: nixfmt
        name: Format Nix files
        entry: nixfmt
        language: system
        files: '\.nix$'
        pass_filenames: true

  # Shell script linting
  - repo: local
    hooks:
      - id: shellcheck
        name: Lint shell scripts
        entry: shellcheck
        language: system
        types: [shell]
        exclude: "^(install-bootloader|result|result-).*"

  # JSON/YAML/Markdown formatting
  - repo: local
    hooks:
      - id: prettier
        name: Format JSON/YAML/Markdown
        entry: nix develop -c prettier --write
        language: system
        types_or: [json, yaml, markdown]
        exclude: '^(flake\.lock|secrets/|nix-secrets/|nixos-old/).*'

  # Secret scanning with TruffleHog
  - repo: local
    hooks:
      - id: trufflehog
        name: TruffleHog secret scan
        entry: bash -c 'EXCLUDE_FILE=$(mktemp); echo -e "secrets/\nnix-secrets/\nnixos-old/\n.git/\nresult\nresult-*" > "$EXCLUDE_FILE"; trufflehog filesystem --only-verified --exclude-paths="$EXCLUDE_FILE" . ; rm -f "$EXCLUDE_FILE"' --
        language: system
        pass_filenames: false
        always_run: true

  # Secret scanning with GitLeaks
  - repo: local
    hooks:
      - id: gitleaks
        name: GitLeaks secret scan
        entry: nix develop -c bash scripts/scan-gitleaks.sh --protect
        language: system
        pass_filenames: false
        always_run: true

  # File integrity checks (only basic ones that don't need external tools)
  - repo: local
    hooks:
      - id: check-large-files
        name: Check for large files
        entry: bash scripts/check-large-files.sh
        language: system
        pass_filenames: false

# Global excludes
exclude: '^(result|result-.*|\.direnv|build/|secrets/.*\.age|nix-secrets/|nixos-old/).*'

Replace custom neovim config with Omarchy LazyVim setup
  modules/home-manager/editor/neovim.nix
Due: nixfmt

vim updates
  modules/home-manager/editor/neovim.nix
Due: nixfmt

Remove claude wrapper script to fix VSCode/Cursor extension conflicts
  claude
Due: none

Add Omarchy-style Waybar with theme integration
  modules/home-manager/hyprland/default.nix
  modules/home-manager/hyprland/themes/catppuccin-latte.nix
  modules/home-manager/hyprland/themes/catppuccin.nix
  modules/home-manager/hyprland/themes/everforest.nix
  modules/home-manager/hyprland/themes/gruvbox.nix
  modules/home-manager/hyprland/themes/kanagawa.nix
  modules/home-manager/hyprland/themes/matte-black.nix
  modules/home-manager/hyprland/themes/nord.nix
  modules/home-manager/hyprland/themes/osaka-jade.nix
  modules/home-manager/hyprland/themes/ristretto.nix
  modules/home-manager/hyprland/themes/rose-pine.nix
  modules/home-manager/hyprland/themes/tokyo-night.nix
  profiles/desktop/hyprland.nix
Due: nixfmt

Implement Omarchy window rules, screenshot annotations, and theme backgrounds
  modules/home-manager/hyprland/default.nix
  modules/home-manager/hyprland/themes/catppuccin-latte.nix
  profiles/desktop/hyprland.nix
Due: nixfmt

Systematically implement theme integration for all system UI components
  modules/home-manager/hyprland/default.nix
  modules/home-manager/hyprland/themes/catppuccin-latte.nix
  modules/home-manager/hyprland/themes/catppuccin.nix
  modules/home-manager/hyprland/themes/everforest.nix
  modules/home-manager/hyprland/themes/gruvbox.nix
  modules/home-manager/hyprland/themes/kanagawa.nix
  modules/home-manager/hyprland/themes/matte-black.nix
  modules/home-manager/hyprland/themes/nord.nix
  modules/home-manager/hyprland/themes/osaka-jade.nix
  modules/home-manager/hyprland/themes/ristretto.nix
  modules/home-manager/hyprland/themes/rose-pine.nix
  modules/home-manager/hyprland/themes/tokyo-night.nix
  profiles/desktop/hyprland.nix
Due: nixfmt

theming enhancements from the systematic audit. Here's what was accomplished:
  modules/home-manager/hyprland/default.nix
  modules/home-manager/hyprland/themes/catppuccin-latte.nix
  modules/home-manager/hyprland/themes/catppuccin.nix
  modules/home-manager/hyprland/themes/everforest.nix
  modules/home-manager/hyprland/themes/gruvbox.nix
  modules/home-manager/hyprland/themes/kanagawa.nix
  modules/home-manager/hyprland/themes/matte-black.nix
  modules/home-manager/hyprland/themes/nord.nix
  modules/home-manager/hyprland/themes/osaka-jade.nix
  modules/home-manager/hyprland/themes/ristretto.nix
  modules/home-manager/hyprland/themes/rose-pine.nix
  modules/home-manager/hyprland/themes/tokyo-night.nix
Due: nixfmt

Theme improvements
  modules/home-manager/hyprland/default.nix
  modules/home-manager/hyprland/themes/catppuccin-latte.nix
  modules/home-manager/hyprland/themes/catppuccin.nix
  modules/home-manager/hyprland/themes/everforest.nix
  modules/home-manager/hyprland/themes/gruvbox.nix
  modules/home-manager/hyprland/themes/kanagawa.nix
  modules/home-manager/hyprland/themes/matte-black.nix
  modules/home-manager/hyprland/themes/nord.nix
  modules/home-manager/hyprland/themes/osaka-jade.nix
  modules/home-manager/hyprland/themes/ristretto.nix
  modules/home-manager/hyprland/themes/rose-pine.nix
  modules/home-manager/hyprland/themes/tokyo-night.nix
  profiles/desktop/hyprland.nix
Due: nixfmt

Waybar fix
  modules/home-manager/hyprland/default.nix
Due: nixfmt

Additional hyperland tweaks
  modules/home-manager/hyprland/default.nix
  profiles/desktop/hyprland.nix
Due: nixfmt

Enable screen recording
  modules/home-manager/hyprland/default.nix
Due: nixfmt

Set default browser
  modules/home-manager/hyprland/default.nix
Due: nixfmt

feat: implement Omarchy-style runtime theme switching without NixOS rebuilds
  modules/home-manager/hyprland/default.nix
  users/regular/jamesbrink-shared.nix
Due: nixfmt

feat: add runtime theme switching scripts
  modules/home-manager/hyprland/default.nix
  modules/home-manager/hyprland/scripts/generate-themes.sh
  modules/home-manager/hyprland/scripts/theme-set.sh
Due: nixfmt

feat: add VSCode and Neovim live theme reloading
  modules/home-manager/hyprland/scripts/theme-set.sh
Due: none

fix: add proper Neovim theme mapping in generate-themes
  modules/home-manager/hyprland/scripts/generate-themes.sh
Due: none

fix: enable live reload for Alacritty and Neovim
  modules/home-manager/hyprland/scripts/theme-set.sh
Due: none

fix: revert Alacritty reload to file touch method
  modules/home-manager/hyprland/scripts/theme-set.sh
Due: none

fix: touch main Alacritty config file, not imported theme file
  modules/home-manager/hyprland/scripts/theme-set.sh
Due: none

fix: complete theme color definitions for rose-pine, gruvbox, and matte-black
  modules/home-manager/hyprland/themes/gruvbox.nix
  modules/home-manager/hyprland/themes/matte-black.nix
  modules/home-manager/hyprland/themes/rose-pine.nix
Due: nixfmt

fix: strip Nix inline comments from generated theme configs
  modules/home-manager/hyprland/scripts/generate-themes.sh
Due: none

fix: add all colorscheme plugins for Neovim runtime theme switching
  modules/home-manager/editor/neovim.nix
Due: nixfmt

Fix runtime theme switching with mutable config files
  modules/home-manager/editor/neovim.nix
  modules/home-manager/hyprland/default.nix
  modules/home-manager/hyprland/scripts/theme-set.sh
Due: nixfmt

Fix Neovim live theme reloading and sync all 12 themes
  hosts/hal9000/default.nix
  modules/home-manager/editor/neovim.nix
  modules/home-manager/hyprland/default.nix
  modules/home-manager/hyprland/icons/Basecamp.png
  modules/home-manager/hyprland/icons/ChatGPT.png
  modules/home-manager/hyprland/icons/Discord.png
  modules/home-manager/hyprland/icons/Disk Usage.png
  modules/home-manager/hyprland/icons/Docker.png
  modules/home-manager/hyprland/icons/Figma.png
  modules/home-manager/hyprland/icons/GitHub.png
  modules/home-manager/hyprland/icons/Google Contacts.png
  modules/home-manager/hyprland/icons/Google Messages.png
  modules/home-manager/hyprland/icons/Google Photos.png
  modules/home-manager/hyprland/icons/HEY.png
  modules/home-manager/hyprland/icons/WhatsApp.png
  modules/home-manager/hyprland/icons/X.png
  modules/home-manager/hyprland/icons/YouTube.png
  modules/home-manager/hyprland/icons/Zoom.png
  modules/home-manager/hyprland/icons/imv.png
  modules/home-manager/hyprland/icons/windows.png
  modules/home-manager/hyprland/scripts/generate-themes.sh
  modules/home-manager/hyprland/scripts/theme-set.sh
  modules/home-manager/hyprland/themes/catppuccin-latte.nix
  modules/home-manager/hyprland/themes/catppuccin.nix
  modules/home-manager/hyprland/themes/everforest.nix
  modules/home-manager/hyprland/themes/flexoki-light.nix
  modules/home-manager/hyprland/themes/gruvbox.nix
  modules/home-manager/hyprland/themes/kanagawa.nix
  modules/home-manager/hyprland/themes/matte-black.nix
  modules/home-manager/hyprland/themes/nord.nix
  modules/home-manager/hyprland/themes/osaka-jade.nix
  modules/home-manager/hyprland/themes/ristretto.nix
  modules/home-manager/hyprland/themes/rose-pine.nix
  modules/home-manager/hyprland/themes/tokyo-night.nix
  modules/home-manager/hyprland/wallpapers/flexoki-light/1-flexoki-light-orb.png
  modules/home-manager/hyprland/wallpapers/flexoki-light/2-flexoki-light-omarchy.png
  users/regular/jamesbrink-linux.nix
Due: nixfmt

feat: add comprehensive HOTKEYS.md and improve eza integration
  HOTKEYS.md
  docs/VIM.md
  flake.lock
  hosts/hal9000/default.nix
  modules/home-manager/cli-tools.nix
  modules/home-manager/shell/zsh.nix
  scripts/check-large-files.sh
Due: nixfmt, prettier

Add tmuxinator to shared packages
  modules/shared-packages/default.nix
Due: nixfmt

fix: Restore Alacritty font configuration on macOS
  modules/shared-packages/devops-darwin.nix
  users/regular/jamesbrink-shared.nix
Due: nixfmt

fix: Remove desktop profile from N100 cluster nodes
  profiles/n100/default.nix
Due: nixfmt

fix: Exclude Hyprland desktop module from headless servers
  users/regular/jamesbrink-linux.nix
Due: nixfmt

Rustdesk and additional desktop profiles
  flake.nix
  hosts/alienware/default.nix
  hosts/n100-01/default.nix
  hosts/n100-03/default.nix
  hosts/n100-04/default.nix
  modules/rustdesk-client.nix
  profiles/desktop/gnome.nix
  profiles/desktop/xfce.nix
  profiles/n100/default.nix
  scripts/secrets-add.sh
  scripts/secrets-edit.sh
Due: nixfmt

feat: add RustDesk headless support with GDM for N100 cluster
  modules/rustdesk-client.nix
  profiles/desktop/xfce.nix
Due: nixfmt

fix: RustDesk headless with GNOME auto-login on display :1
  hosts/n100-01/default.nix
  modules/rustdesk-client.nix
  profiles/desktop/gnome.nix
Due: nixfmt

fix: configure n100-01 for XRDP primary access with RustDesk emergency backup
  hosts/n100-01/default.nix
  modules/rustdesk-client.nix
  profiles/desktop/gnome.nix
  profiles/desktop/xfce.nix
Due: nixfmt

fix: add power management to N100 profile to prevent thermal crashes
  modules/home-manager/xfce/default.nix
  profiles/n100/default.nix
Due: nixfmt

fix: use performance governor instead of schedutil for N100
  profiles/n100/default.nix
Due: nixfmt

fix: restore Hyprland home-manager config for hal9000
  users/regular/jamesbrink-linux.nix
Due: nixfmt

docs: add VIM.md reference documentation
  docs/VIM.md
Due: prettier
