Repository jamesbrink/nixos: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixfmt, prettier

.pre-commit-config.yaml:

# Pre-commit hooks configuration
# Install hooks: pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Nix formatting
  - repo: local
    hooks:
      - id: nixfmt
        name: Format Nix files
        entry: nixfmt
        language: system
        files: '\.nix$'
        pass_filenames: true

  # Shell script linting
  - repo: local
    hooks:
      - id: shellcheck
        name: Lint shell scripts
        entry: shellcheck
        language: system
        types: [shell]
        exclude: "^(install-bootloader|result|result-).*"

  # JSON/YAML/Markdown formatting
  - repo: local
    hooks:
      - id: prettier
        name: Format JSON/YAML/Markdown
        entry: nix develop -c prettier --write
        language: system
        types_or: [json, yaml, markdown]
        exclude: '^(flake\.lock|secrets/|nix-secrets/|nixos-old/).*'

  # Secret scanning with TruffleHog
  - repo: local
    hooks:
      - id: trufflehog
        name: TruffleHog secret scan
        entry: bash -c 'EXCLUDE_FILE=$(mktemp); echo -e "secrets/\nnix-secrets/\nnixos-old/\n.git/\nresult\nresult-*" > "$EXCLUDE_FILE"; trufflehog filesystem --only-verified --exclude-paths="$EXCLUDE_FILE" . ; rm -f "$EXCLUDE_FILE"' --
        language: system
        pass_filenames: false
        always_run: true

  # Secret scanning with GitLeaks
  - repo: local
    hooks:
      - id: gitleaks
        name: GitLeaks secret scan
        entry: nix develop -c bash scripts/scan-gitleaks.sh --protect
        language: system
        pass_filenames: false
        always_run: true

  # File integrity checks (only basic ones that don't need external tools)
  - repo: local
    hooks:
      - id: check-large-files
        name: Check for large files
        entry: bash scripts/check-large-files.sh
        language: system
        pass_filenames: false

# Global excludes
exclude: '^(result|result-.*|\.direnv|build/|secrets/.*\.age|nix-secrets/|nixos-old/).*'

Update package why
  flake.lock
Due: none

chore: add portable git hooks setup
  scripts/hooks/pre-commit
  scripts/setup-hooks.sh
Due: none

feat(shared-packages): add asciinema for terminal recording
  modules/shared-packages/default.nix
Due: nixfmt

feat(shared-packages): add asciinema-agg for GIF generation
  modules/shared-packages/default.nix
Due: nixfmt

chore: update all flake inputs
  flake.lock
Due: none

chore(runner): update upstream actions-runner image
  containers/github-runner-full/Dockerfile
Due: none

fix(home-manager/shell): make bash config compatible with macOS bash 3.2
  modules/home-manager/shell/bash.nix
Due: nixfmt

style(scripts): apply formatting fixes to hypr-balance-all.py
  scripts/hypr-balance-all.py
Due: none

feat(modules/services): add postgresql-replica module for WAL-based read replica
  hosts/hal9000/default.nix
  hosts/hal9000/zfs-monitor.html
  modules/services/postgresql-replica/default.nix
  modules/services/postgresql-replica/wal-sync.nix
  modules/services/postgresql/postgresql.conf
Due: nixfmt

fix(hosts/hal9000): add ignore_invalid_pages for PostgreSQL replica
  hosts/hal9000/default.nix
Due: nixfmt

docs(CLAUDE.md): add pending action for hal9000 PostgreSQL deploy
  CLAUDE.md
Due: prettier

feat(.claude): add pg-replica skill for PostgreSQL management
  .claude/skills/pg-replica.md
Due: prettier

refactor(.claude): restructure pg-replica skill with helper scripts
  .claude/settings.json
  .claude/skills/pg-replica.md
  .claude/skills/pg-replica/SKILL.md
  .claude/skills/pg-replica/architecture.md
  .claude/skills/pg-replica/scripts/pg17-connections
  .claude/skills/pg-replica/scripts/pg17-databases
  .claude/skills/pg-replica/scripts/pg17-full-status
  .claude/skills/pg-replica/scripts/pg17-lag
  .claude/skills/pg-replica/scripts/pg17-logs
  .claude/skills/pg-replica/scripts/pg17-query
  .claude/skills/pg-replica/scripts/pg17-snapshots
  .claude/skills/pg-replica/scripts/pg17-status
  .claude/skills/pg-replica/scripts/pg17-tables
  .claude/skills/pg-replica/scripts/pg17-wal-status
Due: prettier

docs(CLAUDE.md): remove resolved hal9000 PostgreSQL pending action
  CLAUDE.md
Due: prettier

fix(postgresql-replica): add PostGIS extension to replica package
  modules/services/postgresql-replica/default.nix
Due: nixfmt

refactor(postgresql-replica): switch from port 5439 to default 5432
  .claude/skills/pg-replica/SKILL.md
  .claude/skills/pg-replica/scripts/pg17-connections
  .claude/skills/pg-replica/scripts/pg17-databases
  .claude/skills/pg-replica/scripts/pg17-full-status
  .claude/skills/pg-replica/scripts/pg17-lag
  .claude/skills/pg-replica/scripts/pg17-query
  .claude/skills/pg-replica/scripts/pg17-status
  .claude/skills/pg-replica/scripts/pg17-tables
  hosts/hal9000/default.nix
  modules/services/postgresql-replica/default.nix
  modules/services/postgresql-replica/wal-sync.nix
Due: nixfmt, prettier

docs(pg-replica): document manual standby/read-write mode switching
  .claude/skills/pg-replica/SKILL.md
  CLAUDE.md
Due: prettier

docs: fix pg-replica port to match actual config (5432)
  .claude/skills/pg-replica/architecture.md
Due: prettier

fix(hal9000): disable postgresql-replica, fix ignore_invalid_pages
  hosts/hal9000/default.nix
Due: nixfmt

fix(hal9000): re-enable postgresql-replica with ignore_invalid_pages off
  hosts/hal9000/default.nix
Due: nixfmt

feat(postgresql-replica): allow trusted networks without auth
  modules/services/postgresql-replica/default.nix
Due: nixfmt

feat(server): enable libsecret with gnome-keyring Secret Service
  modules/shared-packages/default.nix
  profiles/server/default.nix
Due: nixfmt

feat(postgresql-replica): enable pg_stat_statements for slow query analysis
  modules/services/postgresql-replica/default.nix
Due: nixfmt

docs(CLAUDE.md): rewrite for Claude Code with architecture overview
  CLAUDE.md
Due: prettier

feat(hosts/hal9000): open port 18789 for clawdbot
  .claude/settings.json
  .claude/skills/doc/scripts/doc-generate
  .claude/skills/doc/scripts/doc-nix-ast
  .claude/skills/doc/scripts/doc-nix-deadcode
  .claude/skills/doc/scripts/doc-nix-flake
  .claude/skills/doc/scripts/doc-nix-lint
  .claude/skills/doc/scripts/doc-nix-options
  .claude/skills/doc/scripts/doc-terraform
  .claude/skills/doc/scripts/doc-terraform-lint
  hosts/hal9000/default.nix
Due: nixfmt, prettier

feat(modules): add postgresql standbyMode toggle and signal-cli package
  modules/services/postgresql-replica/default.nix
  modules/shared-packages/default.nix
Due: nixfmt

chore(hosts/halcyon): temporarily disable BSP tiling for security re-enable
  hosts/halcyon/default.nix
Due: nixfmt

feat(darwin): add display/monitor switching keybindings
  config/hotkeys.yaml
  hosts/halcyon/default.nix
  modules/darwin/yabai.nix
Due: nixfmt, prettier

feat(darwin): add SIP-aware display switching and native Space support
  modules/darwin/yabai.nix
  profiles/darwin/tiling.nix
  scripts/themectl/tests/test_yabai_helper.py
  scripts/themectl/themectl/contrib/yabai-space-helper.sh
  scripts/themectl/themectl/macos.py
Due: nixfmt

feat(themectl): fix Ghostty reload and swap theme/BSP keybindings
  config/hotkeys.yaml
  scripts/themectl/themectl/hooks.py
Due: prettier

fix(themectl): fix starship TOML escaping and add btop theme support
  scripts/themectl/themectl/assets.py
  scripts/themectl/themectl/hooks.py
Due: none

fix(themectl): fix Ghostty theme switching and preserve Starship format
  flake.nix
  scripts/themectl/themectl/assets.py
  scripts/themectl/themectl/hooks.py
Due: nixfmt

feat(terminals): standardize font to JetBrainsMono Nerd Font size 9
  modules/home-manager/hyprland/default.nix
  modules/home-manager/shell/default.nix
Due: nixfmt

feat(darwin): add Ghostty config with JetBrainsMono font
  modules/home-manager/darwin/unified-themes.nix
Due: nixfmt

fix(themectl): remove redundant update_ghostty call from hooks
  scripts/themectl/themectl/hooks.py
Due: none

feat(terminals): increase font size from 9 to 18
  modules/home-manager/darwin/unified-themes.nix
  modules/home-manager/hyprland/default.nix
  modules/home-manager/shell/default.nix
Due: nixfmt

fix(ghostty): make config mutable and fix theme switching
  modules/home-manager/darwin/unified-themes.nix
  modules/home-manager/hyprland/default.nix
  scripts/themectl/themectl/hooks.py
Due: nixfmt

fix(themes): correct Ghostty mappings and btop theme switching
  modules/themes/definitions/catppuccin.nix
  modules/themes/definitions/everforest.nix
  modules/themes/definitions/matte-black.nix
  modules/themes/definitions/osaka-jade.nix
  modules/themes/definitions/rose-pine.nix
  scripts/themectl/themectl/hooks.py
Due: nixfmt
