Repository jamesbrink/nixos: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixfmt, prettier

.pre-commit-config.yaml:

# Pre-commit hooks configuration
# Install hooks: pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Nix formatting
  - repo: local
    hooks:
      - id: nixfmt
        name: Format Nix files
        entry: nixfmt
        language: system
        files: '\.nix$'
        pass_filenames: true

  # Shell script linting
  - repo: local
    hooks:
      - id: shellcheck
        name: Lint shell scripts
        entry: shellcheck
        language: system
        types: [shell]
        exclude: "^(install-bootloader|result|result-).*"

  # JSON/YAML/Markdown formatting
  - repo: local
    hooks:
      - id: prettier
        name: Format JSON/YAML/Markdown
        entry: nix develop -c prettier --write
        language: system
        types_or: [json, yaml, markdown]
        exclude: '^(flake\.lock|secrets/|nix-secrets/|nixos-old/).*'

  # Secret scanning with TruffleHog
  - repo: local
    hooks:
      - id: trufflehog
        name: TruffleHog secret scan
        entry: bash -c 'EXCLUDE_FILE=$(mktemp); echo -e "secrets/\nnix-secrets/\nnixos-old/\n.git/\nresult\nresult-*" > "$EXCLUDE_FILE"; trufflehog filesystem --only-verified --exclude-paths="$EXCLUDE_FILE" . ; rm -f "$EXCLUDE_FILE"' --
        language: system
        pass_filenames: false
        always_run: true

  # Secret scanning with GitLeaks
  - repo: local
    hooks:
      - id: gitleaks
        name: GitLeaks secret scan
        entry: nix develop -c bash scripts/scan-gitleaks.sh --protect
        language: system
        pass_filenames: false
        always_run: true

  # File integrity checks (only basic ones that don't need external tools)
  - repo: local
    hooks:
      - id: check-large-files
        name: Check for large files
        entry: bash scripts/check-large-files.sh
        language: system
        pass_filenames: false

# Global excludes
exclude: '^(result|result-.*|\.direnv|build/|secrets/.*\.age|nix-secrets/|nixos-old/).*'

revert(hosts/hal9000): drop mold memory caps
  hosts/hal9000/default.nix
Due: nixfmt

chore(flake): bump mold to e521b79
  flake.lock
Due: none

chore(flake): bump mold to 380ad09
  flake.lock
Due: none

chore(flake): bump mold to b96b57f
  flake.lock
Due: none

chore(flake): bump mold to 1c9bfa5
  flake.lock
Due: none

chore(flake): bump mold to d2893f5
  flake.lock
Due: none

perf(scripts/deploy): activate the built closure instead of re-evaluating
  flake.lock
  scripts/deploy.sh
Due: none

chore(flake): bump mold to b3e803c2
  flake.lock
Due: none

fix(modules/nfs-mounts): stop generating units for offline servers
  hosts/hal9000/default.nix
  modules/nfs-mounts.nix
Due: nixfmt

chore(flake): bump mold to 83c5b482
  flake.lock
Due: none

chore(flake): bump mold to 6d46e55f
  flake.lock
Due: none

chore(flake): bump mold to c3321798
  flake.lock
Due: none

chore(flake): bump mold to 9339e03a
  flake.lock
Due: none

fix(hosts/hal9000): re-run mold-acl on a 15min timer
  hosts/hal9000/default.nix
Due: nixfmt

chore(flake): bump mold to ff02eb28
  flake.lock
Due: none

chore(hal9000): deploy H3 queue admission fix
  flake.lock
Due: none

chore(flake): bump mold to 7fb42227
  flake.lock
Due: none

chore(flake): bump mold to 51dc7f6e
  flake.lock
Due: none

chore(flake): bump mold to 7a02b7fb
  flake.lock
Due: none

chore(flake): bump mold to 22879c21
  flake.lock
Due: none

feat(k8s): add utensils ARC runner tiers, bump ARC to 0.14.2
  k8s/README.md
  k8s/utensils-github-runners/README.md
  k8s/utensils-github-runners/values-l.yaml
  k8s/utensils-github-runners/values-xl.yaml
  scripts/deploy-k8s.py
Due: prettier

fix(scripts): make secrets-edit work without a controlling terminal
  flake.nix
  k8s/utensils-github-runners/README.md
  scripts/deploy-k8s.py
  scripts/secrets-edit.sh
Due: nixfmt, prettier

docs(k8s): record the real cause of ghcr.io 403s from Helm
  k8s/utensils-github-runners/README.md
Due: prettier

feat(k8s): move runner work dirs and caches onto /storage-fast
  hosts/hal9000/default.nix
  k8s/utensils-github-runners/README.md
  k8s/utensils-github-runners/storage.yaml
  k8s/utensils-github-runners/values-l.yaml
  k8s/utensils-github-runners/values-xl.yaml
Due: nixfmt, prettier

chore(flake): bump mold to 3edc14cd
  flake.lock
Due: none

chore(flake): bump mold to d42ab326
  flake.lock
Due: none

chore(k8s): remove the quantierra GitHub Actions runners
  README.md
  SECRETS.md
  k8s/README.md
  k8s/quantierra-github-runners/README.md
  k8s/quantierra-github-runners/RUNNER_TIERS.md
  k8s/quantierra-github-runners/upgrade-runner-image.sh
  k8s/quantierra-github-runners/values-l.yaml
  k8s/quantierra-github-runners/values-m.yaml
  k8s/quantierra-github-runners/values-s.yaml
  k8s/quantierra-github-runners/values-xl.yaml
  k8s/urandomio-github-runners/README.md
  k8s/utensils-github-runners/README.md
  scripts/README-deploy-k8s.md
  scripts/deploy-k8s.py
Due: prettier

chore(flake): bump mold to 11541e9
  flake.lock
Due: none

fix(hosts/hal9000): keep mold queue-media owner-tight after the ACL pass
  hosts/hal9000/default.nix
Due: nixfmt

chore(hosts/hal9000): disable the k3s cluster by default
  hosts/hal9000/default.nix
Due: nixfmt

chore(flake): bump mold to 631e8d0
  flake.lock
Due: none

chore(flake): bump mold to 5905b6a
  flake.lock
Due: none

fix(modules/shell): clear stale mouse tracking before each prompt
  flake.lock
  modules/ghostty-terminfo.nix
  modules/home-manager/shell/bash.nix
  modules/home-manager/shell/zsh.nix
Due: nixfmt

chore(flake): remove acris-scrapers input and halcyon package
  CLAUDE.md
  flake.lock
  flake.nix
  hosts/halcyon/default.nix
Due: nixfmt, prettier

chore: drop unused users and packages, modernize stdenv platform checks
  flake.lock
  hosts/hal9000/default.nix
  hosts/halcyon/default.nix
  modules/aws-root-config.nix
  modules/claude-desktop.nix
  modules/home-manager/cli-tools.nix
  modules/home-manager/hyprland/default.nix
  modules/home-manager/shell/default.nix
  modules/home-manager/shell/tmux.nix
  modules/home-manager/shell/zsh.nix
  modules/home-manager/themectl.nix
  modules/local-hosts.nix
  modules/shared-packages/default.nix
  modules/shared-packages/python.nix
  overlays/chromaprint-darwin.nix
  treefmt.toml
  users/regular/.ssh/config_external
  users/regular/jamesbrink-shared.nix
  users/regular/strivedi.nix
  users/root.nix
Due: nixfmt

fix(profiles/darwin): declare nix-homebrew taps in the Brewfile
  profiles/darwin-slim/default.nix
  profiles/darwin/default.nix
Due: nixfmt

fix(profiles/darwin): strip alacritty quarantine post-activation
  profiles/darwin/desktop.nix
Due: nixfmt

fix(profiles/darwin): install alacritty from nixpkgs, drop disabled cask
  profiles/darwin/desktop.nix
Due: nixfmt

fix(profiles/darwin): install alacritty from nixpkgs, drop disabled cask
  hosts/halcyon/default.nix
Due: nixfmt
