Repository jamesbrink/nixos: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixfmt, prettier

nixfmt:
  name: Format Nix files
  entry: nixfmt
  language: system
  pass_filenames: true

prettier:
  name: Format JSON/YAML/Markdown
  entry: nix develop -c prettier --write
  language: system

feat(hosts/hal9000): add mold AI image generation service
  flake.lock
  flake.nix
  hosts/hal9000/default.nix
Due: nixfmt

feat(hosts/bender): add mold CLI and update mold flake input
  flake.lock
  hosts/bender/default.nix
Due: nixfmt

feat(hosts/hal9000): update comfyui-nix and mold, add HF token to mold
  flake.lock
  hosts/hal9000/default.nix
Due: nixfmt

chore: update mold flake input
  flake.lock
Due: none

feat(hosts/halcyon): add mold AI image generation CLI
  hosts/halcyon/default.nix
Due: nixfmt

fix(hosts/hal9000): fix mold models directory permissions and update flake
  flake.lock
  hosts/hal9000/default.nix
  users/regular/jamesbrink-linux.nix
Due: nixfmt

feat(hosts/hal9000): set MOLD_MODELS_DIR for CLI usage
  hosts/hal9000/default.nix
Due: nixfmt

feat(hosts/bender): set MOLD_HOST to hal9000 and update mold flake
  flake.lock
  hosts/bender/default.nix
Due: nixfmt

feat(hosts/hal9000): use MOLD_HOME for unified mold directory layout
  flake.lock
  hosts/hal9000/default.nix
  profiles/server/default.nix
Due: nixfmt

feat(profiles/n100): add mold CLI with MOLD_HOST pointing to hal9000
  profiles/n100/default.nix
Due: nixfmt

feat(hosts/hal9000): add mold Discord bot and update mold flake
  flake.lock
  hosts/hal9000/default.nix
Due: nixfmt

chore(runner): update upstream actions-runner image
  containers/github-runner-full/Dockerfile
Due: none

feat(hosts/hal9000): update mold flake with LoRA support and GGUF fixes
  flake.lock
Due: none

feat(hosts/hal9000): disable comfyui/invokeai auto-start, update mold
  flake.lock
  hosts/hal9000/default.nix
Due: nixfmt

feat: add claude aliases and fix mold server permissions
  hosts/hal9000/default.nix
  users/regular/jamesbrink-shared.nix
Due: nixfmt

fix(hosts/hal9000): disable ProtectHome on mold service
  hosts/hal9000/default.nix
Due: nixfmt

fix(users): set homeMode to 711 for service traversal
  users/regular/jamesbrink-linux.nix
Due: nixfmt

docs: sync CLAUDE.md and README.md with devshell commands
  CLAUDE.md
  README.md
Due: prettier

chore: update all flake inputs and fix broken packages
  CLAUDE.md
  flake.lock
  users/regular/jamesbrink-linux.nix
Due: nixfmt, prettier

fix: replace removed nodePackages with top-level equivalents
  flake.nix
  modules/home-manager/editor/neovim.nix
  modules/shared-packages/default.nix
Due: nixfmt

fix(hosts/bender): disable ai-toolkit due to torchaudio build failure
  hosts/bender/default.nix
Due: nixfmt

feat(scripts): auto-use hal9000 as build host for n100 deploys
  scripts/deploy.sh
Due: none

feat: add mold server to alienware, move CLI to shared-packages
  flake.nix
  hosts/alienware/default.nix
  hosts/bender/default.nix
  hosts/hal9000/default.nix
  hosts/halcyon/default.nix
  modules/shared-packages/default.nix
  profiles/n100/default.nix
Due: nixfmt

fix(hosts/alienware): add mold user to users group for home traversal
  hosts/alienware/default.nix
Due: nixfmt

feat(shared-packages): add azure-cli with azure-devops extension
  modules/shared-packages/devops.nix
Due: nixfmt

fix(darwin): disable masApps due to mas activation failures
  profiles/darwin/desktop.nix
Due: nixfmt

chore: update homebrew flake inputs
  flake.lock
Due: none

Path conditions:
  nixfmt: any of: \.nix$, but not: ^(result|result-.*|\.direnv|build/|secrets/.*\.age|nix-secrets/|nixos-old/).*
  prettier: any of: \.json$, \.(yaml|yml)$, \.(md|markdown|mdown)$ and not (^(flake\.lock|secrets/|nix-secrets/|nixos-old/).*) and not (^(result|result-.*|\.direnv|build/|secrets/.*\.age|nix-secrets/|nixos-old/).*)
