Repository jamesbrink/nixos: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixfmt, prettier

nixfmt:
  name: Format Nix files
  entry: nixfmt
  language: system
  pass_filenames: true

prettier:
  name: Format JSON/YAML/Markdown
  entry: nix develop -c prettier --write
  language: system

chore(flake): track mold main (0.10.0) + pin comfyui-nix v0.25.0
  flake.lock
  flake.nix
Due: nixfmt

fix(themectl): patch pytest/pygments CVEs, drop stale poetry.lock
  scripts/themectl/poetry.lock
  scripts/themectl/uv.lock
Due: none

feat(shared-packages): add ookla-speedtest CLI to all hosts
  modules/shared-packages/default.nix
Due: nixfmt

fix(hosts/hal9000): force mold restart on SIGPIPE (utensils/mold#342)
  hosts/hal9000/default.nix
Due: nixfmt

chore(flake): update mold to adb7997 (SIGPIPE fix, utensils/mold#342)
  flake.lock
Due: none

feat(hyprland): improve launcher and waybar controls
  modules/home-manager/hyprland/default.nix
  modules/home-manager/hyprland/walker-theme/layout.xml
  modules/home-manager/hyprland/walker-theme/style.css
  profiles/desktop/hyprland.nix
Due: nixfmt

fix(hyprland): improve input and tray controls
  modules/home-manager/hyprland/default.nix
  profiles/desktop/hyprland.nix
Due: nixfmt

fix(hyprland): reduce noisy app search results
  modules/home-manager/hyprland/default.nix
Due: nixfmt

feat(hyprland): add desktop control menus
  modules/home-manager/hyprland/default.nix
Due: nixfmt

fix(hyprland): make wlogout menu readable
  modules/home-manager/hyprland/default.nix
Due: nixfmt

feat(modules/hyprland): add screensaver video manager
  modules/home-manager/hyprland/default.nix
Due: nixfmt

feat(shared-packages): add usbutils (lsusb) to all Linux hosts
  modules/shared-packages/default.nix
Due: nixfmt

feat(hosts/hal9000): sync Dropbox to the 20TB disk and tune the drive
  hosts/hal9000/default.nix
Due: nixfmt

feat(shell): default halcyon to no Claude profile
  modules/home-manager/shell/bash.nix
  modules/home-manager/shell/zsh.nix
Due: nixfmt

chore(hosts/hal9000): stop auto-starting Dropbox daemon
  hosts/hal9000/default.nix
Due: nixfmt

feat(maintenance): add cache-cleanup and deepen project-cleanup and nix-gc
  modules/darwin/maintenance-tools.nix
  scripts/nix-gc.sh
Due: nixfmt

chore(flake): bump mold to 0.14.0
  flake.lock
Due: none

chore(flake): bump mold to 0.17.0
  flake.lock
Due: none

feat(backups): retire restic S3 backups fleet-wide
  flake.nix
  hosts/alienware/default.nix
  hosts/hal9000/default.nix
  hosts/halcyon/default.nix
  modules/darwin/restic-backups.nix
  modules/home-manager/shell/zsh.nix
  modules/restic-backups.nix
  modules/restic-shell-init.nix
  modules/shared-packages/default.nix
  profiles/n100/default.nix
  scripts/restic-run.sh
  scripts/restic-snapshots.sh
  scripts/restic-status.sh
Due: nixfmt

feat(hosts/halcyon): add supacode cask
  hosts/halcyon/default.nix
Due: nixfmt

docs(claude): slim CLAUDE.md to essentials, point to reference docs
  CLAUDE.md
Due: prettier

feat(syncthing): retire syncthing fleet-wide, keep secrets
  hosts/alienware/default.nix
  users/regular/jamesbrink-linux.nix
Due: nixfmt

feat(hal9000): migrate AI storage to 20TB disk, retire n8n, bump mold
  flake.lock
  hosts/hal9000/default.nix
  hosts/hal9000/nginx.nix
  hosts/halcyon/default.nix
  users/regular/jamesbrink-darwin-slim.nix
Due: nixfmt

docs: drop retired restic references from README, DESIGN, TECH_STACK
  DESIGN.md
  README.md
  TECH_STACK.md
Due: prettier

feat(hosts/halcyon): add macs-fan-control cask
  hosts/halcyon/default.nix
Due: nixfmt

fix(profiles/darwin): install alacritty cask without quarantine
  profiles/darwin/desktop.nix
Due: nixfmt

feat(hosts/halcyon): add cocoapods brew
  hosts/halcyon/default.nix
Due: nixfmt

chore(flake): update mold input
  flake.lock
Due: none

fix(nfs): make NFS mounts fail fast so a dead host can't hang activation
  hosts/hal9000/default.nix
  modules/nfs-mounts.nix
Due: nixfmt

feat(comfyui): bump comfyui-nix v0.25.0 -> v0.28.2
  flake.lock
  flake.nix
Due: nixfmt

feat(users/jamesbrink): add clds alias for claude --remote-control
  users/regular/jamesbrink-darwin.nix
  users/regular/jamesbrink-shared.nix
Due: nixfmt

chore(flake): update homebrew tap inputs (tailscale-app 1.98.5 -> 1.98.9)
  flake.lock
Due: none

fix(flake): bump nix-homebrew brew pin 5.1.14 -> 6.0.12 for July tap compat
  flake.lock
  flake.nix
Due: nixfmt

feat(hosts/hal9000): update mold input, add mold CLI + desktop to PATH
  flake.lock
  hosts/hal9000/default.nix
Due: nixfmt

feat(flake): bump mold to 93e8082 (desktop RUNPATH fix, gallery DB self-heal)
  flake.lock
Due: none

feat(lan-mouse): disable autostart on hal9000, start manually on demand
  modules/home-manager/lan-mouse.nix
Due: nixfmt

feat(flake): bump mold to c33f68d (LTX-2 catalog, Linux desktop fixes)
  flake.lock
Due: none

feat(flake): bump mold to 4633e89 (Discover feed pagination fix)
  flake.lock
Due: none

feat(flake): bump mold to b4663c6 (restore remote model workflows, #534)
  flake.lock
Due: none

Path conditions:
  nixfmt: any of: \.nix$, but not: ^(result|result-.*|\.direnv|build/|secrets/.*\.age|nix-secrets/|nixos-old/).*
  prettier: any of: \.json$, \.(yaml|yml)$, \.(md|markdown|mdown)$ and not (^(flake\.lock|secrets/|nix-secrets/|nixos-old/).*) and not (^(result|result-.*|\.direnv|build/|secrets/.*\.age|nix-secrets/|nixos-old/).*)
