Repository jamesbrink/nixos: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixfmt, prettier

.pre-commit-config.yaml:

# Pre-commit hooks configuration
# Install hooks: pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Nix formatting
  - repo: local
    hooks:
      - id: nixfmt
        name: Format Nix files
        entry: nixfmt
        language: system
        files: '\.nix$'
        pass_filenames: true

  # Shell script linting
  - repo: local
    hooks:
      - id: shellcheck
        name: Lint shell scripts
        entry: shellcheck
        language: system
        types: [shell]
        exclude: "^(install-bootloader|result|result-).*"

  # JSON/YAML/Markdown formatting
  - repo: local
    hooks:
      - id: prettier
        name: Format JSON/YAML/Markdown
        entry: nix develop -c prettier --write
        language: system
        types_or: [json, yaml, markdown]
        exclude: '^(flake\.lock|secrets/|nix-secrets/|nixos-old/).*'

  # Secret scanning with TruffleHog
  - repo: local
    hooks:
      - id: trufflehog
        name: TruffleHog secret scan
        entry: bash -c 'EXCLUDE_FILE=$(mktemp); echo -e "secrets/\nnix-secrets/\nnixos-old/\n.git/\nresult\nresult-*" > "$EXCLUDE_FILE"; trufflehog filesystem --only-verified --exclude-paths="$EXCLUDE_FILE" . ; rm -f "$EXCLUDE_FILE"' --
        language: system
        pass_filenames: false
        always_run: true

  # Secret scanning with GitLeaks
  - repo: local
    hooks:
      - id: gitleaks
        name: GitLeaks secret scan
        entry: nix develop -c bash scripts/scan-gitleaks.sh --protect
        language: system
        pass_filenames: false
        always_run: true

  # File integrity checks (only basic ones that don't need external tools)
  - repo: local
    hooks:
      - id: check-large-files
        name: Check for large files
        entry: bash scripts/check-large-files.sh
        language: system
        pass_filenames: false

# Global excludes
exclude: '^(result|result-.*|\.direnv|build/|secrets/.*\.age|nix-secrets/|nixos-old/).*'

feat: add hashed password secrets for jamesbrink and root users
  profiles/darwin/desktop.nix
  profiles/desktop/hyprland.nix
  profiles/n100/default.nix
  users/regular/jamesbrink-linux.nix
  users/root.nix
Due: nixfmt

feat: add Alacritty theme cycling for macOS with Hammerspoon
  hosts/alienware/default.nix
  hosts/hal9000/default.nix
  modules/home-manager/darwin/alacritty-themes.nix
  modules/home-manager/darwin/hammerspoon.nix
  users/regular/jamesbrink-darwin.nix
Due: nixfmt

feat: unified theme cycling for Darwin with system-wide color matching
  hosts/halcyon/default.nix
  hosts/sevastopol/default.nix
  modules/home-manager/darwin/ghostty-themes.nix
  modules/home-manager/darwin/hammerspoon.nix
  modules/home-manager/darwin/unified-themes.nix
  profiles/darwin/desktop.nix
  users/regular/jamesbrink-darwin.nix
Due: nixfmt

feat: comprehensive unified theme cycling for Darwin with all components
  hosts/halcyon/default.nix
  hosts/sevastopol/default.nix
  modules/home-manager/darwin/hammerspoon.nix
  modules/home-manager/darwin/unified-themes.nix
  modules/home-manager/shell/tmux.nix
  test-dark-mode.sh
Due: nixfmt

feat: add macOS Tahoe 26 icon appearance support for theme cycling
  modules/home-manager/darwin/unified-themes.nix
  test-dark-mode.sh
  test-theme-cycle.sh
Due: nixfmt

feat: add yabai tiling window manager with Hyprland-compatible keybindings
  TODO.md
  hosts/halcyon/default.nix
  hosts/sevastopol/default.nix
  modules/darwin/YABAI.md
  modules/darwin/yabai.nix
Due: nixfmt, prettier

feat: add yabai tiling window manager with Hyprland-compatible keybindings
  HOTKEYS.md
  TODO.md
  hosts/halcyon/default.nix
  hosts/sevastopol/default.nix
  modules/darwin/YABAI.md
  modules/darwin/productivity-apps.nix
  modules/darwin/sketchybar.nix
  modules/darwin/yabai.nix
  modules/home-manager/shell/default.nix
Due: nixfmt, prettier

feat: refactor Darwin tiling configuration and fix hotkey conflicts
  HOTKEYS.md
  TODO.md
  hosts/halcyon/default.nix
  hosts/sevastopol/default.nix
  modules/darwin/yabai.nix
  modules/home-manager/darwin/hammerspoon.nix
  modules/home-manager/darwin/unified-themes.nix
  profiles/darwin/tiling.nix
Due: nixfmt, prettier

wip: BSP/macOS mode toggle script - in progress
  test-bsp-toggle.sh
Due: none

feat: auto-load yabai scripting addition with sudoers config
  .gitignore
  HOTKEYS.md
  TODO.md
  modules/darwin/YABAI.md
  modules/darwin/yabai.nix
  modules/home-manager/darwin/hammerspoon.nix
  modules/home-manager/darwin/unified-themes.nix
  profiles/darwin/tiling.nix
  test-bsp-toggle.sh
  test-theme-cycle.sh
Due: nixfmt, prettier

docs: comprehensive sudoers and scripting addition documentation
  modules/darwin/YABAI.md
  modules/darwin/yabai.nix
Due: nixfmt, prettier

feat: add fzf-based launcher and Raycast for macOS
  HOTKEYS.md
  TODO.md
  modules/darwin/fzf-launcher.nix
  modules/darwin/productivity-apps.nix
  modules/darwin/yabai.nix
  profiles/darwin/tiling.nix
Due: nixfmt, prettier

fix: make theme cycles consistent and live
  TODO.md
  modules/home-manager/darwin/ghostty-themes.nix
  modules/home-manager/darwin/unified-themes.nix
  modules/home-manager/hyprland/themes/catppuccin-latte.nix
  modules/home-manager/hyprland/themes/catppuccin.nix
  modules/home-manager/hyprland/themes/everforest.nix
  modules/home-manager/hyprland/themes/flexoki-light.nix
  modules/home-manager/hyprland/themes/gruvbox.nix
  modules/home-manager/hyprland/themes/lib.nix
  modules/home-manager/hyprland/themes/nord.nix
  modules/home-manager/hyprland/themes/rose-pine.nix
  modules/home-manager/hyprland/themes/tokyo-night.nix
Due: nixfmt, prettier

fix: reliable ghostty reload and opacity defaults
  modules/home-manager/darwin/alacritty-themes.nix
  modules/home-manager/darwin/ghostty-themes.nix
  modules/home-manager/darwin/hammerspoon.nix
  modules/home-manager/darwin/unified-themes.nix
Due: nixfmt

fix: make ghostty reload automation shellsafe
  modules/home-manager/darwin/alacritty-themes.nix
  modules/home-manager/darwin/ghostty-themes.nix
  modules/home-manager/darwin/unified-themes.nix
Due: nixfmt

docs: note theme automation follow-ups
  TODO.md
Due: prettier

docs: add core guides and lint configs
  .markdownlintrc
  .shellcheckrc
  AGENTS.md
  CLAUDE.md
  DESIGN.md
  STANDARDS.md
  TECH_STACK.md
  TODO.md
  VISION.md
  flake.nix
  modules/darwin/fzf-launcher.nix
  modules/darwin/yabai.nix
  modules/home-manager/shell/default.nix
Due: nixfmt, prettier

feat(themectl): add metadata export and asset sync
  TODO.md
  flake.nix
  modules/home-manager/darwin/unified-themes.nix
  modules/home-manager/hyprland/default.nix
  modules/home-manager/hyprland/themes/lib.nix
  scripts/themectl/README.md
  scripts/themectl/pyproject.toml
  scripts/themectl/tests/conftest.py
  scripts/themectl/tests/test_cli.py
  scripts/themectl/themectl/__init__.py
  scripts/themectl/themectl/__main__.py
  scripts/themectl/themectl/assets.py
  scripts/themectl/themectl/cli.py
  scripts/themectl/themectl/config.py
  scripts/themectl/themectl/state.py
  scripts/themectl/themectl/themes.py
Due: nixfmt, prettier

feat(darwin): replace legacy theme scripts with themectl
  TODO.md
  flake.nix
  modules/darwin/yabai.nix
  modules/home-manager/darwin/alacritty-themes.nix
  modules/home-manager/darwin/ghostty-themes.nix
  modules/home-manager/darwin/hammerspoon.nix
  modules/home-manager/darwin/unified-themes.nix
  modules/home-manager/hyprland/default.nix
  modules/home-manager/hyprland/themes/lib.nix
  modules/home-manager/shell/tmux.nix
  modules/home-manager/themectl.nix
  scripts/themectl/README.md
  scripts/themectl/tests/test_cli.py
  scripts/themectl/tests/test_hooks.py
  scripts/themectl/themectl/cli.py
  scripts/themectl/themectl/hooks.py
  scripts/themectl/themectl/macos.py
  users/regular/jamesbrink-darwin.nix
Due: nixfmt, prettier

chore: checkpoint repo state
  HOTKEYS.md
  STANDARDS.md
  TODO.md
  config/hotkeys.yaml
  flake.nix
  lib/hotkeys.nix
  modules/darwin/yabai.nix
  modules/home-manager/cli-tools.nix
  modules/home-manager/darwin/hammerspoon.nix
  modules/home-manager/hotkeys-extra-args.nix
  modules/home-manager/hyprland/default.nix
  modules/home-manager/hyprland/scripts/generate-themes.sh
  modules/home-manager/hyprland/scripts/theme-set.sh
  modules/home-manager/themectl.nix
  modules/shared-packages/default.nix
  scripts/themectl/README.md
  scripts/themectl/pyproject.toml
  scripts/themectl/tests/test_cli.py
  scripts/themectl/tests/test_hooks.py
  scripts/themectl/themectl/assets.py
  scripts/themectl/themectl/cli.py
  scripts/themectl/themectl/config.py
  scripts/themectl/themectl/hooks.py
  scripts/themectl/themectl/hotkeys.py
  scripts/themectl/themectl/macos.py
  scripts/themectl/themectl/themes.py
  scripts/themectl/typings/rich/__init__.py
  scripts/themectl/typings/rich/box.py
  scripts/themectl/typings/rich/console.py
  scripts/themectl/typings/rich/panel.py
  scripts/themectl/typings/rich/table.py
  scripts/themectl/typings/typer/__init__.pyi
  users/regular/jamesbrink-darwin.nix
  users/regular/jamesbrink-linux.nix
Due: nixfmt, prettier

fix(darwin): make hotkeys manifest available
  modules/darwin/yabai.nix
  modules/home-manager/darwin/hammerspoon.nix
Due: nixfmt

fix(themectl): reload alacritty
  TODO.md
  scripts/themectl/tests/test_hooks.py
  scripts/themectl/themectl/hooks.py
Due: prettier

fix(themectl): sync assets on activation
  modules/home-manager/themectl.nix
Due: nixfmt

fix(darwin): run theme hotkeys on key-up
  modules/home-manager/darwin/hammerspoon.nix
Due: nixfmt

feat: harden theme automation controls
  TODO.md
  config/themectl-automation.yaml
  flake.nix
  modules/home-manager/darwin/hammerspoon.nix
  modules/home-manager/themectl.nix
  scripts/themectl/poetry.lock
  scripts/themectl/pyproject.toml
  scripts/themectl/tests/test_cli.py
  scripts/themectl/tests/test_hooks.py
  scripts/themectl/tests/test_macos.py
  scripts/themectl/themectl/config.py
  scripts/themectl/themectl/hooks.py
  scripts/themectl/themectl/macos.py
Due: nixfmt, prettier

feat(yabai): make hotkeys manifest-driven
  config/hotkeys.yaml
  modules/darwin/yabai.nix
Due: nixfmt, prettier

fix(yabai): escape UID in restart script
  modules/darwin/yabai.nix
Due: nixfmt

chore: align mac theme hotkey
  config/hotkeys.yaml
Due: prettier

fix(darwin/yabai): guard skhd hex bindings
  flake.nix
  modules/darwin/yabai.nix
  scripts/themectl/contrib/yabai-space-helper.sh
  scripts/themectl/tests/test_yabai_helper.py
Due: nixfmt

docs(todo): add verification commands
  TODO.md
Due: prettier

SSH fix
  modules/home-manager/shell/default.nix
Due: nixfmt

fix(ssh): remove openssh.settings from ssh-keys module for Darwin compatibility
  modules/darwin/yabai.nix
  modules/home-manager/shell/default.nix
  scripts/themectl/pyproject.toml
  scripts/themectl/tests/test_yabai_helper.py
  scripts/themectl/themectl/contrib/__init__.py
  scripts/themectl/themectl/contrib/yabai-space-helper.sh
Due: nixfmt

fix: stabilize themectl tests and ssh env propagation
  modules/home-manager/shell/default.nix
  modules/ssh-keys.nix
  scripts/themectl/tests/test_yabai_helper.py
Due: nixfmt

fix: keep omarchy assets and ssh env wiring stable
  flake.lock
  flake.nix
  modules/home-manager/darwin/unified-themes.nix
  modules/home-manager/hyprland/themes/lib.nix
  modules/ssh-keys.nix
  users/regular/jamesbrink-linux.nix
Due: nixfmt

fix(ssh): disable problematic SSH options causing hangs on Darwin
  modules/home-manager/shell/default.nix
Due: nixfmt

chore: shell check cleanup
  .pre-commit-config.yaml
  AGENTS.md
  CLAUDE.md
  HOTKEYS.md
  docs/pixinsight.md
  flake.nix
  hosts/hal9000/postgresql-management.md
  modules/darwin/YABAI.md
  modules/netboot/auto-install.sh
  scripts/build-netboot-images.sh
  scripts/deploy-local.sh
  scripts/deploy-n100-local.sh
  scripts/deploy-n100.sh
  scripts/deploy.sh
  scripts/health-check.sh
  scripts/nix-gc.sh
  scripts/restic-run.sh
  scripts/rollback.sh
  scripts/scan-gitleaks.sh
  scripts/scan-secrets-history.sh
  scripts/scan-secrets-pre-commit.sh
  scripts/scan-secrets.sh
  scripts/setup-n100-macs.sh
  scripts/show-generations.sh
  scripts/themectl/tests/test_cli.py
  scripts/themectl/tests/test_hooks.py
  scripts/themectl/tests/test_macos.py
  scripts/themectl/tests/test_yabai_helper.py
  scripts/themectl/themectl/cli.py
  scripts/themectl/themectl/config.py
  scripts/themectl/themectl/hooks.py
  scripts/themectl/themectl/macos.py
  scripts/treefmt-basedpyright.sh
  treefmt.toml
Due: nixfmt, prettier

refactor(darwin): delegate dock/menubar to themectl, remove spotify
  profiles/darwin/desktop.nix
  profiles/darwin/tiling.nix
Due: nixfmt

fix(themectl): persist LaunchAgent state across reboots
  TODO.md
  scripts/themectl/themectl/macos.py
Due: prettier
