Repository jamesbrink/nixos: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixfmt, prettier

nixfmt:
  name: Format Nix files
  entry: nixfmt
  language: system
  pass_filenames: true

prettier:
  name: Format JSON/YAML/Markdown
  entry: nix develop -c prettier --write
  language: system

fix(themes): update Ghostty theme names to match current bundled names
  modules/themes/definitions/catppuccin-latte.nix
  modules/themes/definitions/catppuccin.nix
  modules/themes/definitions/everforest.nix
  modules/themes/definitions/flexoki-light.nix
  modules/themes/definitions/gruvbox.nix
  modules/themes/definitions/nord.nix
  modules/themes/definitions/rose-pine.nix
  modules/themes/definitions/tokyo-night.nix
Due: nixfmt

chore(runner): update upstream actions-runner image
  containers/github-runner-full/Dockerfile
Due: none

feat(hosts/halcyon): add lima for Linux VM management
  hosts/halcyon/default.nix
Due: nixfmt

feat(darwin): add project-cleanup and diskspace utility scripts
  modules/darwin/packages.nix
Due: nixfmt

fix(hyprland): repair walker launcher and theme picker after 0.13→2.x
  modules/home-manager/editor/neovim.nix
  modules/home-manager/hyprland/default.nix
  profiles/desktop/hyprland.nix
Due: nixfmt

fix(hyprland): vendor walker 2.x theme directory so launcher stays themed
  modules/home-manager/hyprland/default.nix
  modules/home-manager/hyprland/walker-theme/item.xml
  modules/home-manager/hyprland/walker-theme/item_actionsmenu.xml
  modules/home-manager/hyprland/walker-theme/item_archlinuxpkgs.xml
  modules/home-manager/hyprland/walker-theme/item_bookmarks.xml
  modules/home-manager/hyprland/walker-theme/item_calc.xml
  modules/home-manager/hyprland/walker-theme/item_clipboard.xml
  modules/home-manager/hyprland/walker-theme/item_dmenu.xml
  modules/home-manager/hyprland/walker-theme/item_dnfpackages.xml
  modules/home-manager/hyprland/walker-theme/item_files.xml
  modules/home-manager/hyprland/walker-theme/item_providerlist.xml
  modules/home-manager/hyprland/walker-theme/item_symbols.xml
  modules/home-manager/hyprland/walker-theme/item_symbols_grid.xml
  modules/home-manager/hyprland/walker-theme/item_todo.xml
  modules/home-manager/hyprland/walker-theme/item_unicode.xml
  modules/home-manager/hyprland/walker-theme/keybind.xml
  modules/home-manager/hyprland/walker-theme/layout.xml
  modules/home-manager/hyprland/walker-theme/preview.xml
  modules/home-manager/hyprland/walker-theme/style.css
Due: nixfmt

chore: update mold flake input
  flake.lock
Due: none

chore(security): exclude netboot installer host key from trufflehog scans
  .pre-commit-config.yaml
  flake.lock
  scripts/scan-secrets-history.sh
  scripts/scan-secrets-pre-commit.sh
  scripts/scan-secrets.sh
Due: prettier

feat(hosts/hal9000): expose mold web gallery at mold.home.urandom.io
  flake.lock
  hosts/hal9000/nginx.nix
Due: nixfmt

fix(hal9000): switch ollama from podman to native service
  hosts/hal9000/default.nix
Due: nixfmt

chore: update flake inputs
  flake.lock
Due: none

feat(home-manager): enable nix-direnv on Darwin
  modules/home-manager/cli-tools.nix
Due: nixfmt

fix(halcyon): pin chromaprint+kvazaar, disable mold, silence neovim warnings
  flake.lock
  flake.nix
  modules/home-manager/editor/neovim.nix
  modules/shared-packages/default.nix
  overlays/chromaprint-darwin.nix
  users/regular/jamesbrink-darwin.nix
Due: nixfmt

chore: ship .envrc with nix-direnv invocation
  .envrc
  .gitignore
Due: none

fix(darwin/packages): exclude .direnv from project-cleanup
  modules/darwin/packages.nix
Due: nixfmt

fix(darwin/packages): correct grep -c zero-match handling in disk-space report
  modules/darwin/packages.nix
Due: nixfmt

fix(hosts/halcyon): restore darwin pipx build
  flake.lock
  modules/shared-packages/python.nix
Due: nixfmt

fix(hosts/halcyon): use brew cloudflare wrangler
  hosts/halcyon/default.nix
  modules/shared-packages/default.nix
Due: nixfmt

fix(hosts/halcyon): pin homebrew tap management
  flake.lock
  flake.nix
Due: nixfmt

feat(pkgs): add create context model helper
  modules/shared-packages/default.nix
  pkgs/create-context-model/_create-context-model
  pkgs/create-context-model/create-context-model.bash
  pkgs/create-context-model/create-context-model.fish
  pkgs/create-context-model/default.nix
  scripts/create-context-model.sh
Due: nixfmt

feat(hosts/bender): add darwin maintenance helpers
  hosts/bender/default.nix
  modules/darwin/maintenance-tools.nix
  modules/darwin/packages.nix
Due: nixfmt

fix(modules): disable hardcoded local /etc/hosts entries after network change
  modules/darwin/local-hosts.nix
  modules/local-hosts.nix
Due: nixfmt

chore(flake): drop 'why' input (build fails on aarch64-darwin)
  flake.lock
  flake.nix
  modules/shared-packages/default.nix
Due: nixfmt

fix(shared-packages): skip pipx runtime deps check on darwin
  modules/shared-packages/python.nix
Due: nixfmt

fix(scripts): make deploy-local stage submodules and activate prebuilt closure
  scripts/deploy-local.sh
Due: none

feat(hosts/hal9000): add iwd WiFi with CLI + GUI tray
  hosts/hal9000/default.nix
  modules/home-manager/hyprland/default.nix
  modules/wifi-iwd.nix
Due: nixfmt

fix(home-manager/neovim): use channel-aware initLua/extraLuaConfig
  modules/home-manager/editor/neovim.nix
Due: nixfmt

fix(flake): pin mold to last-good 0.9.0 (fdf5085)
  flake.lock
  flake.nix
Due: nixfmt

chore(hosts/hal9000): update ollama cuda package
  flake.lock
  flake.nix
  hosts/hal9000/default.nix
Due: nixfmt

feat(lan-mouse): add software KVM keyboard/mouse sharing (halcyon <-> hal9000)
  HOTKEYS.md
  docs/lan-mouse.md
  flake.lock
  flake.nix
  hosts/hal9000/default.nix
  modules/home-manager/lan-mouse.nix
  users/regular/jamesbrink-darwin.nix
  users/regular/jamesbrink-linux.nix
Due: nixfmt, prettier

Path conditions:
  nixfmt: any of: \.nix$, but not: ^(result|result-.*|\.direnv|build/|secrets/.*\.age|nix-secrets/|nixos-old/).*
  prettier: any of: \.json$, \.(yaml|yml)$, \.(md|markdown|mdown)$ and not (^(flake\.lock|secrets/|nix-secrets/|nixos-old/).*) and not (^(result|result-.*|\.direnv|build/|secrets/.*\.age|nix-secrets/|nixos-old/).*)
