Repository jamesbrink/nixos: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixfmt, prettier

nixfmt:
  name: Format Nix files
  entry: nixfmt
  language: system
  pass_filenames: true

prettier:
  name: Format JSON/YAML/Markdown
  entry: nix develop -c prettier --write
  language: system

feat(home-manager/shell): enable Claude Code experimental agent teams
  modules/home-manager/shell/default.nix
Due: nixfmt

feat(home-manager/shell): add rcode function for remote VS Code
  modules/home-manager/shell/bash.nix
  modules/home-manager/shell/zsh.nix
Due: nixfmt

feat(darwin): add HuggingFace CLI and HF_TOKEN via agenix
  k8s/urandomio-github-runners/README.md
  modules/home-manager/shell/bash.nix
  modules/home-manager/shell/zsh.nix
  modules/shared-packages/python.nix
  scripts/deploy-k8s.py
  users/regular/jamesbrink-darwin-slim.nix
  users/regular/jamesbrink-darwin.nix
Due: nixfmt, prettier

feat(hosts/hal9000): add InvokeAI service
  flake.lock
  flake.nix
  hosts/hal9000/default.nix
Due: nixfmt

feat(hosts/hal9000): move InvokeAI dataDir to ZFS storage
  hosts/hal9000/default.nix
Due: nixfmt

feat(hosts/bender): add InvokeAI service
  flake.nix
  hosts/bender/default.nix
Due: nixfmt

feat(hosts/hal9000): add AI Toolkit training service
  flake.lock
  flake.nix
  hosts/hal9000/default.nix
Due: nixfmt

fix(hosts/hal9000): update ai-toolkit input for NVIDIA GPU detection fix
  flake.lock
Due: none

feat(hosts/bender): add AI Toolkit service
  flake.nix
  hosts/bender/default.nix
Due: nixfmt

feat(hosts): wire ai-toolkit secrets via module options
  flake.lock
  hosts/bender/default.nix
  hosts/hal9000/default.nix
  users/regular/jamesbrink-linux.nix
Due: nixfmt

fix(ai-toolkit): update input for mDNS crash fix
  flake.lock
Due: none

fix(ai-toolkit): update input for LAN health checks and LNP bypass
  flake.lock
Due: none

feat(shared-packages): add gogcli and google-cloud-sdk
  flake.nix
  modules/shared-packages/default.nix
  overlays/gogcli.nix
  pkgs/gogcli/default.nix
Due: nixfmt

feat(shared-packages): add bitwarden-cli cross-platform and bitwarden cask to bender
  hosts/bender/default.nix
  modules/shared-packages/default.nix
Due: nixfmt

feat(shared-packages): add telegram-desktop to all hosts
  modules/shared-packages/default.nix
Due: nixfmt

feat(shared-packages): use Homebrew for Telegram on macOS, Nix on Linux
  hosts/bender/default.nix
  modules/shared-packages/default.nix
  profiles/darwin/desktop.nix
Due: nixfmt

feat(hosts/halcyon): add Screen Sharing to dock
  hosts/halcyon/default.nix
Due: nixfmt

feat(scripts/deploy-all): use hal9000 as builder for n100 hosts
  scripts/deploy-all.sh
Due: none

fix(shell/zsh): remove oh-my-zsh plugins for tools not universally installed
  modules/home-manager/shell/zsh.nix
Due: nixfmt

fix(darwin): increase file descriptor limits to prevent build failures
  flake.lock
  modules/darwin/nix-limits.nix
  profiles/darwin-slim/default.nix
  profiles/darwin/default.nix
Due: nixfmt

fix(flake): update invokeai to fix read-only home directory errors
  flake.lock
Due: none

feat(shell): set NPM_CONFIG_USERCONFIG to ~/.npmrc.local
  modules/home-manager/shell/default.nix
Due: nixfmt

feat(shared-packages): add Cloudflare CLI tools
  modules/shared-packages/default.nix
Due: nixfmt

feat(secrets): wire up Cloudflare API token across all hosts
  modules/home-manager/shell/bash.nix
  modules/home-manager/shell/zsh.nix
  users/regular/jamesbrink-darwin-slim.nix
  users/regular/jamesbrink-darwin.nix
  users/regular/jamesbrink-linux.nix
Due: nixfmt

fix(comfyui): update cuda option to gpuSupport enum
  flake.lock
  hosts/alienware/default.nix
  hosts/hal9000/default.nix
Due: nixfmt

fix(neovim): rename extraLuaConfig to initLua
  modules/home-manager/editor/neovim.nix
Due: nixfmt

revert(neovim): restore extraLuaConfig for HM stable compat
  modules/home-manager/editor/neovim.nix
Due: nixfmt

chore(runner): update upstream actions-runner image
  containers/github-runner-full/Dockerfile
Due: none

fix: resolve build failures across fleet (bender, halcyon, hal9000)
  flake.lock
  hosts/bender/default.nix
  modules/home-manager/shell/default.nix
  modules/shared-packages/default.nix
Due: nixfmt

fix(users): replace heredocs with echo to fix activation script syntax error
  users/regular/jamesbrink-darwin-slim.nix
  users/regular/jamesbrink-darwin.nix
  users/regular/jamesbrink-linux.nix
Due: nixfmt

feat(shared-packages): add maven to devops packages
  modules/shared-packages/devops-darwin.nix
  modules/shared-packages/devops.nix
Due: nixfmt

chore(shell): remove CLAUDE_CODE_EXPERIMENTAL_AGENT_TEAMS env var
  modules/home-manager/shell/default.nix
Due: nixfmt

feat(shared-packages): add cargo and rustc to all hosts
  modules/shared-packages/default.nix
Due: nixfmt

feat(shared-packages): add gcc and viu to all hosts
  modules/shared-packages/default.nix
Due: nixfmt

feat(users/halcyon): add cld and cldt shell aliases for Claude Code
  users/regular/jamesbrink-darwin.nix
Due: nixfmt

Path conditions:
  nixfmt: any of: \.nix$, but not: ^(result|result-.*|\.direnv|build/|secrets/.*\.age|nix-secrets/|nixos-old/).*
  prettier: any of: \.json$, \.(yaml|yml)$, \.(md|markdown|mdown)$ and not (^(flake\.lock|secrets/|nix-secrets/|nixos-old/).*) and not (^(result|result-.*|\.direnv|build/|secrets/.*\.age|nix-secrets/|nixos-old/).*)
