Repository jamesbrink/nixos: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixfmt, prettier

.pre-commit-config.yaml:

# Pre-commit hooks configuration
# Install hooks: pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Nix formatting
  - repo: local
    hooks:
      - id: nixfmt
        name: Format Nix files
        entry: nixfmt
        language: system
        files: '\.nix$'
        pass_filenames: true

  # Shell script linting
  - repo: local
    hooks:
      - id: shellcheck
        name: Lint shell scripts
        entry: shellcheck
        language: system
        types: [shell]
        exclude: "^(install-bootloader|result|result-).*"

  # JSON/YAML/Markdown formatting
  - repo: local
    hooks:
      - id: prettier
        name: Format JSON/YAML/Markdown
        entry: nix develop -c prettier --write
        language: system
        types_or: [json, yaml, markdown]
        exclude: '^(flake\.lock|secrets/|nix-secrets/|nixos-old/).*'

  # Secret scanning with TruffleHog
  - repo: local
    hooks:
      - id: trufflehog
        name: TruffleHog secret scan
        entry: bash -c 'EXCLUDE_FILE=$(mktemp); echo -e "secrets/\nnix-secrets/\nnixos-old/\n.git/\nresult\nresult-*" > "$EXCLUDE_FILE"; trufflehog filesystem --only-verified --exclude-paths="$EXCLUDE_FILE" . ; rm -f "$EXCLUDE_FILE"' --
        language: system
        pass_filenames: false
        always_run: true

  # Secret scanning with GitLeaks
  - repo: local
    hooks:
      - id: gitleaks
        name: GitLeaks secret scan
        entry: nix develop -c bash scripts/scan-gitleaks.sh --protect
        language: system
        pass_filenames: false
        always_run: true

  # File integrity checks (only basic ones that don't need external tools)
  - repo: local
    hooks:
      - id: check-large-files
        name: Check for large files
        entry: bash scripts/check-large-files.sh
        language: system
        pass_filenames: false

# Global excludes
exclude: '^(result|result-.*|\.direnv|build/|secrets/.*\.age|nix-secrets/|nixos-old/).*'

fix(modules/darwin): keep agenix ramdisk mounted across logout
  flake.lock
  modules/darwin/agenix-ramdisk.nix
  profiles/darwin-slim/default.nix
  profiles/darwin/default.nix
Due: nixfmt

feat(modules): prune unused containers/images older than 14 days
  CLAUDE.md
  hosts/alienware/default.nix
  hosts/hal9000/default.nix
  modules/container-prune.nix
  profiles/n100/default.nix
Due: nixfmt, prettier

feat(hosts/hal9000): make jamesbrink the Tailscale operator
  hosts/hal9000/default.nix
Due: nixfmt

fix(profiles/desktop): follow Omarchy v4 themes in terminals and starship
  modules/home-manager/hyprland/default.nix
  modules/home-manager/shell/starship.nix
  profiles/desktop/nixarchy.nix
Due: nixfmt

feat(profiles/desktop): try Omarchy's stock starship prompt
  profiles/desktop/nixarchy.nix
Due: nixfmt

feat(profiles/desktop): Taildrop, Windows VM fixes, volume blip, no HEY
  profiles/desktop/nixarchy.nix
Due: nixfmt

fix(mold): pin reviewed source media and queue recovery updates
  flake.lock
Due: none

fix(hosts/hal9000): restore remote model discovery and update mold
  CLAUDE.md
  flake.lock
  hosts/hal9000/default.nix
Due: nixfmt, prettier

fix(hosts/hal9000): lower Orca free VRAM admission floor to 18 GiB
  CLAUDE.md
  docs/strata-orca.md
  hosts/hal9000/default.nix
Due: nixfmt, prettier

docs(hosts/hal9000): preserve original Orca VRAM threshold for rollback
  hosts/hal9000/default.nix
Due: nixfmt
