Repository jamesbrink/nixos: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixfmt, prettier

.pre-commit-config.yaml:

# Pre-commit hooks configuration
# Install hooks: pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Nix formatting
  - repo: local
    hooks:
      - id: nixfmt
        name: Format Nix files
        entry: nixfmt
        language: system
        files: '\.nix$'
        pass_filenames: true

  # Shell script linting
  - repo: local
    hooks:
      - id: shellcheck
        name: Lint shell scripts
        entry: shellcheck
        language: system
        types: [shell]
        exclude: "^(install-bootloader|result|result-).*"

  # JSON/YAML/Markdown formatting
  - repo: local
    hooks:
      - id: prettier
        name: Format JSON/YAML/Markdown
        entry: nix develop -c prettier --write
        language: system
        types_or: [json, yaml, markdown]
        exclude: '^(flake\.lock|secrets/|nix-secrets/|nixos-old/).*'

  # Secret scanning with TruffleHog
  - repo: local
    hooks:
      - id: trufflehog
        name: TruffleHog secret scan
        entry: bash -c 'EXCLUDE_FILE=$(mktemp); echo -e "secrets/\nnix-secrets/\nnixos-old/\n.git/\nresult\nresult-*" > "$EXCLUDE_FILE"; trufflehog filesystem --only-verified --exclude-paths="$EXCLUDE_FILE" . ; rm -f "$EXCLUDE_FILE"' --
        language: system
        pass_filenames: false
        always_run: true

  # Secret scanning with GitLeaks
  - repo: local
    hooks:
      - id: gitleaks
        name: GitLeaks secret scan
        entry: nix develop -c bash scripts/scan-gitleaks.sh --protect
        language: system
        pass_filenames: false
        always_run: true

  # File integrity checks (only basic ones that don't need external tools)
  - repo: local
    hooks:
      - id: check-large-files
        name: Check for large files
        entry: bash scripts/check-large-files.sh
        language: system
        pass_filenames: false

# Global excludes
exclude: '^(result|result-.*|\.direnv|build/|secrets/.*\.age|nix-secrets/|nixos-old/).*'

docs(desktop): update environment switching notes
  docs/desktop-environment-switching.md
Due: prettier

feat(k8s/rancher): label node metrics with hostname
  k8s/rancher/monitoring-values.yaml
Due: prettier

feat(k8s): unify rancher deployment helper
  AGENTS.md
  CLAUDE.md
  README.md
  flake.nix
  k8s/README.md
  k8s/rancher/INSTALL-MONITORING.md
  k8s/rancher/README.md
  scripts/README-deploy-k8s.md
  scripts/deploy-k8s.py
  scripts/deploy-rancher.sh
Due: nixfmt, prettier

feat(k8s/rancher): show hostnames in kubelet dashboards
  k8s/rancher/monitoring-values.yaml
Due: prettier

fix(hyprland): revive idle screensaver
  modules/home-manager/hyprland/default.nix
Due: nixfmt

chore: fix nix deprecations
  TODO.md
  flake.lock
  flake.nix
  hosts/hal9000/default.nix
  modules/darwin/packages.nix
  modules/home-manager/cli-tools.nix
  modules/home-manager/hyprland/themes/lib.nix
  modules/home-manager/shell/bash.nix
  modules/home-manager/shell/default.nix
  modules/home-manager/shell/zsh.nix
  modules/rustdesk-client.nix
  modules/shared-packages/default.nix
  modules/shared-packages/devops-darwin.nix
  modules/shared-packages/devops.nix
  modules/shared-packages/python.nix
  profiles/darwin/desktop.nix
  profiles/desktop/default.nix
  scripts/deploy-k8s.py
  users/regular/jamesbrink-darwin.nix
  users/regular/jamesbrink-shared.nix
Due: nixfmt, prettier

chore: remove all commented-out packages
  TODO.md
  hosts/hal9000/default.nix
  modules/home-manager/shell/bash.nix
  modules/home-manager/shell/zsh.nix
  profiles/desktop/default.nix
Due: nixfmt, prettier

feat(scripts/themectl): auto fix macos tcc
  scripts/themectl/themectl/cli.py
  scripts/themectl/themectl/macos.py
Due: none

fix(modules/darwin/yabai, scripts/themectl): use tccutil for macOS 26.1+ TCC permissions
  modules/darwin/yabai.nix
  scripts/themectl/themectl/macos.py
Due: nixfmt

docs(scripts/themectl, modules/darwin/yabai): add macOS 26.1 TCC documentation and cleanup
  config/hotkeys.yaml
  modules/darwin/yabai.nix
  scripts/themectl/README.md
  scripts/themectl/themectl/macos.py
Due: nixfmt, prettier

fix(modules/home-manager/shell): enable dynamic Alacritty theme switching on Darwin
  modules/home-manager/shell/default.nix
Due: nixfmt

fix(scripts/themectl): use sudo touch to reload Alacritty config on Darwin
  scripts/themectl/tests/test_hooks.py
  scripts/themectl/themectl/hooks.py
Due: none

chore(runner): update upstream actions-runner image
  containers/github-runner-full/Dockerfile
Due: none

add gurk-rs and below
  modules/shared-packages/default.nix
  scripts/themectl/themectl/macos.py
  users/regular/jamesbrink-darwin.nix
  users/regular/jamesbrink-linux.nix
Due: nixfmt

feat(modules/shared-packages): add zed-editor for Linux and macOS
  modules/shared-packages/default.nix
Due: nixfmt

fix(modules/home-manager/shell): align ls -t ordering
  modules/home-manager/shell/zsh.nix
Due: nixfmt

feat(scripts/themectl): grant TCC permissions to all terminals and helpers
  scripts/themectl/themectl/macos.py
Due: none

Flake update
  flake.lock
  hosts/sevastopol/default.nix
  users/regular/girls-darwin.nix
Due: nixfmt

Flake update 2
  flake.lock
Due: none

fix(modules/home-manager/shell): correct zsh string slice syntax in ls wrapper
  modules/home-manager/shell/zsh.nix
Due: nixfmt

feat(scripts): add nvd package diff to deploy scripts
  flake.lock
  flake.nix
  modules/shared-packages/default.nix
  scripts/deploy-all.sh
  scripts/deploy-test.sh
  scripts/deploy.sh
Due: nixfmt

feat: upgrade to NixOS 25.11 with breaking change fixes
  flake.lock
  flake.nix
  hosts/alienware/default.nix
  hosts/hal9000/default.nix
  modules/home-manager/cli-tools.nix
  modules/home-manager/hyprland/default.nix
  modules/home-manager/shell/default.nix
  pkgs/llama-cpp/default.nix
  profiles/desktop/default-stable.nix
  profiles/desktop/default.nix
  profiles/desktop/gnome.nix
  profiles/desktop/hyprland.nix
  profiles/desktop/xfce.nix
  profiles/n100/default.nix
  users/regular/jamesbrink-linux.nix
  users/regular/jamesbrink-shared.nix
  users/regular/strivedi.nix
  users/root.nix
Due: nixfmt

fix(hyprland): resolve config errors and set native monitor resolution
  modules/home-manager/hyprland/default.nix
  modules/shared-packages/devops.nix
  profiles/desktop/hyprland.nix
Due: nixfmt

feat(users): add ~/.cargo/bin to shared PATH
  users/regular/jamesbrink-shared.nix
Due: nixfmt

feat(hosts/hal9000): add trusted-users for remote builds
  hosts/hal9000/default.nix
Due: nixfmt

fix(darwin): let themectl manage BSP/native mode settings
  hosts/halcyon/hardware.nix
  profiles/darwin/default.nix
  profiles/darwin/tiling.nix
Due: nixfmt

feat(ssh-keys): add halcyon nix builder key
  modules/ssh-keys.nix
Due: nixfmt

fix(darwin): persist screenshot hotkey disabling across reboots
  profiles/darwin/tiling.nix
Due: nixfmt

feat(darwin): add macmon system monitor
  modules/darwin/packages.nix
Due: nixfmt

fix(darwin): let themectl manage alacritty decorations and opacity
  modules/home-manager/darwin/unified-themes.nix
  modules/home-manager/shell/default.nix
Due: nixfmt

feat(hal9000): add comfyui-nix overlay
  flake.lock
  flake.nix
Due: nixfmt

feat(hosts/hal9000): add comfy-ui to system packages
  hosts/hal9000/default.nix
Due: nixfmt

feat(hosts/hal9000): enable OLLAMA_ORIGINS for cross-origin requests
  flake.lock
  hosts/hal9000/default.nix
Due: nixfmt

feat: add opencode and jan packages
  modules/shared-packages/default.nix
  profiles/desktop/hyprland.nix
Due: nixfmt

refactor: remove sevastopol (iMac) host and girls module
  README.md
  flake.nix
  hosts/sevastopol/default.nix
  hosts/sevastopol/hardware.nix
  modules/darwin/local-hosts.nix
  modules/home-manager/shell/default.nix
  modules/home-manager/shell/zsh.nix
  modules/home-manager/themectl.nix
  modules/local-hosts.nix
  profiles/desktop/gnome.nix
  profiles/n100/default.nix
  scripts/deploy-all.sh
  scripts/restic-status.sh
  scripts/themectl/themectl/macos.py
  users/regular/GAMES-GUIDE.md
  users/regular/girls-darwin-README.md
  users/regular/girls-darwin.nix
  users/regular/girls-games-collection.nix
  users/regular/jamesbrink-darwin.nix
  users/regular/ssh/config.d/00-local-hosts
Due: nixfmt, prettier

Flake update
  flake.lock
Due: none
