Repository jamesbrink/nixos: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixfmt, prettier

.pre-commit-config.yaml:

# Pre-commit hooks configuration
# Install hooks: pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Nix formatting
  - repo: local
    hooks:
      - id: nixfmt
        name: Format Nix files
        entry: nixfmt
        language: system
        files: '\.nix$'
        pass_filenames: true

  # Shell script linting
  - repo: local
    hooks:
      - id: shellcheck
        name: Lint shell scripts
        entry: shellcheck
        language: system
        types: [shell]
        exclude: "^(install-bootloader|result|result-).*"

  # JSON/YAML/Markdown formatting
  - repo: local
    hooks:
      - id: prettier
        name: Format JSON/YAML/Markdown
        entry: nix develop -c prettier --write
        language: system
        types_or: [json, yaml, markdown]
        exclude: '^(flake\.lock|secrets/|nix-secrets/|nixos-old/).*'

  # Secret scanning with TruffleHog
  - repo: local
    hooks:
      - id: trufflehog
        name: TruffleHog secret scan
        entry: bash -c 'EXCLUDE_FILE=$(mktemp); echo -e "secrets/\nnix-secrets/\nnixos-old/\n.git/\nresult\nresult-*" > "$EXCLUDE_FILE"; trufflehog filesystem --only-verified --exclude-paths="$EXCLUDE_FILE" . ; rm -f "$EXCLUDE_FILE"' --
        language: system
        pass_filenames: false
        always_run: true

  # Secret scanning with GitLeaks
  - repo: local
    hooks:
      - id: gitleaks
        name: GitLeaks secret scan
        entry: nix develop -c bash scripts/scan-gitleaks.sh --protect
        language: system
        pass_filenames: false
        always_run: true

  # File integrity checks (only basic ones that don't need external tools)
  - repo: local
    hooks:
      - id: check-large-files
        name: Check for large files
        entry: bash scripts/check-large-files.sh
        language: system
        pass_filenames: false

# Global excludes
exclude: '^(result|result-.*|\.direnv|build/|secrets/.*\.age|nix-secrets/|nixos-old/).*'

feat(flake): bump mold to ac30f51
  flake.lock
Due: none

feat(flake): bump mold to 013b33f
  flake.lock
Due: none

feat(flake): bump mold to 7cdb6ae
  flake.lock
Due: none

feat(flake): bump mold to 752f891
  flake.lock
Due: none

feat(flake): bump mold to 0d9e680
  flake.lock
Due: none

feat(flake): bump mold to a0d9bdd
  flake.lock
Due: none

feat(flake): bump mold to ceb472a
  flake.lock
Due: none

fix(flake): bump ai-toolkit (disable flaky jupyter-server test)
  flake.lock
Due: none

feat(flake): bump mold to 5b67a37 (fix mold-web sandbox build)
  flake.lock
Due: none

chore(runner): update upstream actions-runner image (#2)
  containers/github-runner-full/Dockerfile
Due: none

feat(flake): bump mold to 315094b
  flake.lock
Due: none

feat(flake): bump mold to 41a794e
  flake.lock
Due: none

feat(flake): bump mold to 40b9a3e
  flake.lock
Due: none

feat(flake): bump mold to 09e6ef6
  flake.lock
Due: none

feat(hosts/hal9000): move mold models to NVMe zfs dataset storage-fast/mold
  hosts/hal9000/default.nix
Due: nixfmt

feat(flake): bump mold to b27103e
  flake.lock
Due: none

feat(scripts): add persistent flake deploy watcher
  README.md
  scripts/watch-flake-deploy.sh
Due: prettier

chore(flake): update mold and remove deploy watcher
  README.md
  flake.lock
  scripts/watch-flake-deploy.sh
Due: prettier

feat(shared-packages): make project-cleanup cross-platform, include on all hosts
  modules/darwin/maintenance-tools.nix
  modules/shared-packages/default.nix
  modules/shared-packages/maintenance-tools.nix
Due: nixfmt

feat(shared-packages): add efibootmgr on linux hosts
  modules/shared-packages/default.nix
Due: nixfmt

feat(flake): bump mold to 9ce58f9
  flake.lock
Due: none

feat(flake): bump mold to b89a8c2
  flake.lock
Due: none

chore(hosts/hal9000): comment out mold-desktop package
  hosts/hal9000/default.nix
Due: nixfmt

feat(flake): track comfyui-nix main (37212cc, NixOS CUDA JIT fix)
  flake.lock
  flake.nix
Due: nixfmt

feat(flake): bump mold to c1c14a8 and comfyui-nix to 60cf396
  flake.lock
Due: none

feat(shared-packages): add dufs for quick web file sharing
  modules/shared-packages/default.nix
Due: nixfmt

feat(shared-packages): add miniserve for quick web file sharing
  modules/shared-packages/default.nix
Due: nixfmt

feat(flake): bump mold to 987483c
  flake.lock
Due: none

feat(flake): bump mold to 2822952
  flake.lock
Due: none

feat(flake): bump mold to 46479a0
  flake.lock
Due: none

feat(flake): bump mold to 43165fb
  flake.lock
Due: none

chore(pkgs): update gh to 2.97.0
  flake.nix
  overlays/gh.nix
  pkgs/gh/default.nix
  users/regular/jamesbrink-shared.nix
  users/root.nix
Due: nixfmt

chore: drop unused apps, unpin insecure packages, sync brew
  HOTKEYS.md
  docs/lan-mouse.md
  flake.lock
  flake.nix
  hosts/alienware/default.nix
  hosts/hal9000/default.nix
  hosts/halcyon/default.nix
  modules/home-manager/cli-tools.nix
  modules/home-manager/lan-mouse.nix
  modules/home-manager/shell/default.nix
  modules/shared-packages/default.nix
  profiles/darwin/desktop.nix
  profiles/desktop/gnome.nix
  profiles/desktop/hyprland.nix
  profiles/desktop/kde.nix
  profiles/desktop/xfce.nix
  profiles/n100/default.nix
  profiles/server/default.nix
  users/regular/jamesbrink-darwin.nix
  users/regular/jamesbrink-linux.nix
Due: nixfmt, prettier

fix(hosts/hal9000): grant mold+jamesbrink named-user ACLs on mold dirs
  flake.lock
  hosts/hal9000/default.nix
Due: nixfmt

chore(scripts): allowlist triaged gitleaks findings
  scripts/scan-gitleaks.sh
Due: none

feat(hosts/hal9000): add mold.cachix.org binary cache, bump mold to b7a871f
  flake.lock
  hosts/hal9000/default.nix
Due: nixfmt

chore(flake): bump mold input
  flake.lock
Due: none

fix(hosts/hal9000): wait for br0 routable in networkd-wait-online
  hosts/hal9000/default.nix
Due: nixfmt

fix(hosts/hal9000): cap mold memory (MemoryHigh=40G, MemoryMax=48G)
  hosts/hal9000/default.nix
Due: nixfmt

chore(flake): bump mold to 7d52d40
  flake.lock
Due: none
