Repository jamesbrink/nixos: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixfmt, prettier

.pre-commit-config.yaml:

# Pre-commit hooks configuration
# Install hooks: pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Nix formatting
  - repo: local
    hooks:
      - id: nixfmt
        name: Format Nix files
        entry: nixfmt
        language: system
        files: '\.nix$'
        pass_filenames: true

  # Shell script linting
  - repo: local
    hooks:
      - id: shellcheck
        name: Lint shell scripts
        entry: shellcheck
        language: system
        types: [shell]
        exclude: "^(install-bootloader|result|result-).*"

  # JSON/YAML/Markdown formatting
  - repo: local
    hooks:
      - id: prettier
        name: Format JSON/YAML/Markdown
        entry: nix develop -c prettier --write
        language: system
        types_or: [json, yaml, markdown]
        exclude: '^(flake\.lock|secrets/|nix-secrets/|nixos-old/).*'

  # Secret scanning with TruffleHog
  - repo: local
    hooks:
      - id: trufflehog
        name: TruffleHog secret scan
        entry: bash -c 'EXCLUDE_FILE=$(mktemp); echo -e "secrets/\nnix-secrets/\nnixos-old/\n.git/\nresult\nresult-*" > "$EXCLUDE_FILE"; trufflehog filesystem --only-verified --exclude-paths="$EXCLUDE_FILE" . ; rm -f "$EXCLUDE_FILE"' --
        language: system
        pass_filenames: false
        always_run: true

  # Secret scanning with GitLeaks
  - repo: local
    hooks:
      - id: gitleaks
        name: GitLeaks secret scan
        entry: nix develop -c bash scripts/scan-gitleaks.sh --protect
        language: system
        pass_filenames: false
        always_run: true

  # File integrity checks (only basic ones that don't need external tools)
  - repo: local
    hooks:
      - id: check-large-files
        name: Check for large files
        entry: bash scripts/check-large-files.sh
        language: system
        pass_filenames: false

# Global excludes
exclude: '^(result|result-.*|\.direnv|build/|secrets/.*\.age|nix-secrets/|nixos-old/).*'

feat(hosts/hal9000): add Qwen3.8-27B and MTP speculative decoding to llama-swap
  CLAUDE.md
  hosts/hal9000/default.nix
Due: nixfmt, prettier

refactor(hosts/hal9000): clean llama-swap model ids, drop aliases
  CLAUDE.md
  hosts/hal9000/default.nix
Due: nixfmt, prettier

chore(mold): update HAL9000 to 9bf4323d8
  flake.lock
Due: none

feat(hal9000): prepare manual Orca Flash Next backend
  CLAUDE.md
  docs/strata-orca.md
  hosts/hal9000/default.nix
  modules/services/strata/default.nix
  pkgs/strata.nix
  pkgs/strata/telemetry-no-disk-counters.patch
  scripts/strata-orca-provision.sh
Due: nixfmt, prettier

feat(hal9000): route Orca through llama-swap
  CLAUDE.md
  docs/strata-orca.md
  hosts/hal9000/default.nix
  modules/services/strata/default.nix
  pkgs/strata.nix
  pkgs/strata/huggingface-token-file.patch
  pkgs/strata/test-mtp-auth.py
  scripts/benchmark-strata-orca.py
  scripts/strata-orca-provision.sh
  scripts/test-benchmark-strata-orca.py
  scripts/test-strata-llama-swap.py
Due: nixfmt, prettier

feat(hal9000): budget Orca residency and prepare tuning sweep
  CLAUDE.md
  docs/strata-orca.md
  hosts/hal9000/default.nix
  modules/services/strata/default.nix
  scripts/benchmark-strata-orca.py
  scripts/plan-strata-orca-tuning.py
  scripts/run-strata-orca-candidate.py
  scripts/test-benchmark-strata-orca.py
  scripts/test-strata-memory-modes.py
Due: nixfmt, prettier

feat(hal9000): bound desktop GPU coexistence for Orca
  CLAUDE.md
  docs/strata-orca.md
  hosts/hal9000/default.nix
  modules/services/strata/default.nix
  scripts/benchmark-strata-orca.py
  scripts/run-strata-orca-candidate.py
  scripts/strata-gpu-guard.py
  scripts/test-strata-gpu-guard.py
  scripts/test-strata-memory-modes.py
Due: nixfmt, prettier

fix(hal9000): correct Orca executable and backend port
  docs/strata-orca.md
  hosts/hal9000/default.nix
  modules/services/strata/default.nix
  scripts/benchmark-strata-orca.py
  scripts/run-strata-orca-candidate.py
  scripts/test-benchmark-strata-orca.py
  scripts/test-strata-memory-modes.py
Due: nixfmt, prettier

fix(hal9000): reconcile Orca benchmark native phase accounting
  docs/strata-orca.md
  scripts/benchmark-strata-orca.py
  scripts/compare-strata-orca-benchmarks.py
  scripts/test-benchmark-strata-orca.py
  scripts/test-compare-strata-orca-benchmarks.py
Due: prettier

feat(hal9000): benchmark hot Orca PCIe tuning requests
  docs/strata-orca.md
  scripts/benchmark-strata-orca.py
  scripts/compare-strata-orca-benchmarks.py
  scripts/test-benchmark-strata-orca.py
  scripts/test-compare-strata-orca-benchmarks.py
Due: prettier

feat(hal9000): expose declarative Orca tuning controls
  docs/strata-orca.md
  modules/services/strata/default.nix
  scripts/test-strata-tuning-options.py
Due: nixfmt, prettier

feat(hal9000): select measured Orca runtime settings
  hosts/hal9000/default.nix
  scripts/test-strata-tuning-options.py
Due: nixfmt

fix(hal9000): verify encrypted activation inputs before rollout
  hosts/hal9000/default.nix
  scripts/stage-nixos-revision.py
  scripts/test-strata-staging.py
  scripts/verify-nixos-activation-inputs.py
Due: nixfmt

fix(hal9000): validate runtime secret metadata without content assumptions
  scripts/test-strata-activation-inputs.py
  scripts/verify-nixos-activation-inputs.py
Due: none

feat(hal9000): configure 64K Orca context with switching guidance
  docs/strata-orca.md
  hosts/hal9000/default.nix
  scripts/test-strata-tuning-options.py
Due: nixfmt, prettier

update mold flake
  flake.lock
Due: none

docs(hal9000): record 64K deployment and OMP acceptance
  docs/benchmarks/orca-64k-deployment-20261005.json
  docs/strata-orca.md
Due: prettier

perf(hal9000): serve Orca from the root NVMe SSD
  docs/benchmarks/orca-root-ssd-deployment-20261005.json
  docs/strata-orca.md
  hosts/hal9000/default.nix
Due: nixfmt, prettier

docs(hal9000): record removal of redundant Orca assets
  docs/strata-orca.md
  hosts/hal9000/default.nix
Due: nixfmt, prettier

feat(hal9000): add Orca Q4_K_M alongside IQ3 at 64K
  docs/models/orca-q4-k-m-manifest.json
  docs/strata-orca.md
  hosts/hal9000/default.nix
  modules/services/orca-q4/default.nix
  scripts/strata-orca-q4-provision.sh
  scripts/test-orca-q4-config.py
Due: nixfmt, prettier

fix(hal9000): reserve disk headroom for Q4 provisioning
  modules/services/orca-q4/default.nix
  scripts/strata-orca-q4-provision.sh
Due: nixfmt

docs(hal9000): record Q4 deployment and OMP acceptance
  docs/benchmarks/orca-q4-deployment-20261005.json
  docs/strata-orca.md
Due: prettier

feat(hosts/bender): serve Bonsai 2 on Metal
  CLAUDE.md
  README.md
  docs/bonsai2-bender.md
  flake.nix
  hosts/bender/default.nix
  modules/services/bonsai2-darwin.nix
  overlays/llama-cpp-prism-darwin.patch
  overlays/llama-cpp-prism.nix
Due: nixfmt, prettier

refactor(hosts/bender): make Bonsai model removable
  modules/services/bonsai2-darwin.nix
Due: nixfmt

perf(hosts/bender): expand Bonsai context to 32K
  modules/services/bonsai2-darwin.nix
Due: nixfmt

feat(claude): add Quantierra account profile
  SECRETS.md
  modules/home-manager/shell/bash.nix
  modules/home-manager/shell/zsh.nix
  users/regular/jamesbrink-darwin-slim.nix
  users/regular/jamesbrink-darwin.nix
  users/regular/jamesbrink-linux.nix
Due: nixfmt, prettier

chore(flake): update mold
  flake.lock
Due: none

fix(modules/strata): let GPU guard admit desktop clients on hal9000
  CLAUDE.md
  docs/strata-orca.md
  hosts/hal9000/default.nix
  modules/services/strata/default.nix
  scripts/run-strata-orca-candidate.py
  scripts/strata-gpu-guard.py
  scripts/test-strata-gpu-guard.py
  scripts/test-strata-memory-modes.py
Due: nixfmt, prettier

chore(flake): upgrade NixOS hosts to 26.05
  flake.lock
  flake.nix
  hosts/alienware/default.nix
  hosts/hal9000/default.nix
  hosts/halcyon/default.nix
  modules/home-manager/hyprland/default.nix
  modules/shared-packages/default.nix
  modules/vscode-server.nix
  profiles/desktop/default-stable.nix
  profiles/desktop/gnome.nix
  profiles/desktop/hyprland.nix
  profiles/n100/default.nix
  users/regular/jamesbrink-linux.nix
Due: nixfmt

fix(hosts/hal9000): pin InvokeAI and ai-toolkit to their flake builds
  hosts/hal9000/default.nix
Due: nixfmt

fix(profiles/desktop): default SDDM to plain hyprland session
  profiles/desktop/hyprland.nix
Due: nixfmt

fix(hyprland): migrate config to Hyprland 0.55 and enable autologin
  hosts/hal9000/default.nix
  modules/home-manager/hyprland/default.nix
  profiles/desktop/hyprland.nix
Due: nixfmt

feat(hosts/hal9000): adopt nixarchy (Omarchy v4) as the desktop session
  flake.lock
  flake.nix
  hosts/hal9000/default.nix
  modules/home-manager/hyprland/default.nix
  profiles/desktop/nixarchy.nix
Due: nixfmt

feat(hosts/hal9000): drive Wi-Fi through NetworkManager for Omarchy's panel
  hosts/hal9000/default.nix
  modules/wifi-networkmanager.nix
  profiles/desktop/nixarchy.nix
Due: nixfmt

feat(hyprland): run the video screensaver as Omarchy's screensaver
  modules/home-manager/hyprland/default.nix
  profiles/desktop/nixarchy.nix
Due: nixfmt

docs: document hal9000's Omarchy (nixarchy) desktop and 26.05
  AGENTS.md
  CLAUDE.md
  DESIGN.md
  HOTKEYS.md
  TECH_STACK.md
  docs/desktop-environment-switching.md
Due: prettier
