Repository jamesbrink/nixos: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixfmt, prettier

.pre-commit-config.yaml:

# Pre-commit hooks configuration
# Install hooks: pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Nix formatting
  - repo: local
    hooks:
      - id: nixfmt
        name: Format Nix files
        entry: nixfmt-rfc-style
        language: system
        files: '\.nix$'
        pass_filenames: true

  # Shell script linting
  - repo: local
    hooks:
      - id: shellcheck
        name: Lint shell scripts
        entry: shellcheck
        language: system
        types: [shell]
        exclude: '^(install-bootloader|result|result-).*'

  # JSON/YAML/Markdown formatting
  - repo: local
    hooks:
      - id: prettier
        name: Format JSON/YAML/Markdown
        entry: prettier --write
        language: system
        types_or: [json, yaml, markdown]
        exclude: '^(flake\.lock|secrets/|nix-secrets/|nixos-old/).*'

  # Secret scanning with TruffleHog
  - repo: local
    hooks:
      - id: trufflehog
        name: TruffleHog secret scan
        entry: bash -c 'trufflehog filesystem --only-verified --no-update --exclude-paths=secrets/ --exclude-paths=nix-secrets/ --exclude-paths=nixos-old/ --exclude-paths=.git/ --exclude-paths=result --exclude-paths=result-* "$@"' --
        language: system
        pass_filenames: false
        always_run: true

  # Secret scanning with GitLeaks
  - repo: local
    hooks:
      - id: gitleaks
        name: GitLeaks secret scan
        entry: bash scripts/scan-gitleaks.sh --protect
        language: system
        pass_filenames: false
        always_run: true

  # Check for large files
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-added-large-files
        args: ['--maxkb=5000']
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-executables-have-shebangs
      - id: end-of-file-fixer
        exclude: '^(secrets/|nix-secrets/|nixos-old/).*'
      - id: trailing-whitespace
        exclude: '^(secrets/|nix-secrets/|nixos-old/).*'
      - id: mixed-line-ending
        args: ['--fix=lf']
        exclude: '^(secrets/|nix-secrets/|nixos-old/).*'

# Global excludes
exclude: '^(result|result-.*|\.direnv|build/|secrets/.*\.age|nix-secrets/|nixos-old/).*'

fix(postgres): Add ownership fix to WAL sync script
  modules/packages/postgres13-reset/wal-sync.nix
Due: nixfmt

fix(postgres): Fix WAL sync rsync argument parsing
  hosts/hal9000/default.nix
  hosts/hal9000/postgresql-management.md
  modules/packages/postgres13-reset/default.nix
  modules/packages/postgres13-reset/wal-sync.nix
Due: nixfmt, prettier

fix(postgres): Fix WAL sync permissions and webhook configuration
  hosts/hal9000/default.nix
  hosts/hal9000/postgresql-management.md
  modules/packages/postgres13-reset/default.nix
  modules/packages/postgres13-reset/wal-sync.nix
  modules/shared-packages/devops.nix
Due: nixfmt, prettier

fix(postgres): Remove recovery-mode command and improve PostgreSQL configuration
  hosts/hal9000/postgresql-management.md
  modules/packages/postgres13-reset/wal-sync.nix
  modules/services/postgresql/postgresql.conf
Due: nixfmt, prettier

fix(postgres): Improve postgres13-reset reliability and speed
  modules/packages/postgres13-reset/default.nix
Due: nixfmt

fix(postgres): Finalize postgres13-reset reliability improvements
  modules/packages/postgres13-reset/default.nix
Due: nixfmt

fix(shell): Fix unified shell experience cross-platform compatibility
  modules/aws-root-config.nix
  modules/packages/postgres13-reset/default.nix
  modules/packages/postgres13-reset/wal-sync.nix
  modules/unified-shell-experience.nix
  profiles/darwin/default.nix
  profiles/desktop/default-stable.nix
  profiles/server/default.nix
Due: nixfmt

Making a mess
  flake.lock
  hosts/hal9000/default.nix
Due: nixfmt

refactor: migrate shell configuration to home-manager modules
  CLAUDE.md
  README.md
  hosts/alienware/default.nix
  hosts/hal9000/default.nix
  modules/home-manager/cli-tools.nix
  modules/home-manager/editor/neovim.nix
  modules/home-manager/shell/bash.nix
  modules/home-manager/shell/default.nix
  modules/home-manager/shell/starship.nix
  modules/home-manager/shell/tmux.nix
  modules/home-manager/shell/zsh.nix
  modules/services/ai-starter-kit/default.nix
  modules/services/samba-server.nix
  modules/shared-packages/default.nix
  modules/unified-shell-experience.nix
  pkgs/llama-cpp/default.nix
  pkgs/pixinsight/package.nix
  profiles/darwin/default.nix
  profiles/desktop/default-stable.nix
  profiles/server/default.nix
  users/regular/jamesbrink-darwin.nix
  users/regular/jamesbrink-linux.nix
  users/regular/jamesbrink-shared.nix
  users/root.nix
Due: nixfmt, prettier

feat(ssh): Add all hosts to main SSH config for IDE compatibility
  modules/home-manager/shell/default.nix
  users/regular/ssh/config.d/00-local-hosts
Due: nixfmt

feat(hosts): Add sevastopol to local hosts with IP 10.70.100.183
  modules/darwin/local-hosts.nix
  modules/local-hosts.nix
Due: nixfmt

fix(alacritty): Disable hide_when_typing to keep mouse cursor visible
  modules/home-manager/shell/default.nix
Due: nixfmt

fix: Comment out command aliases and fix Alacritty keyboard bindings
  TODO.md
  modules/home-manager/shell/bash.nix
  modules/home-manager/shell/default.nix
  modules/home-manager/shell/zsh.nix
Due: nixfmt, prettier

feat: Restore shell and terminal settings from old macOS configuration
  modules/home-manager/shell/default.nix
  modules/home-manager/shell/starship.nix
  modules/home-manager/shell/zsh.nix
  users/root.nix
Due: nixfmt

fix: Add nix shell indicator to starship prompt
  modules/home-manager/shell/starship.nix
  users/root.nix
Due: nixfmt

feat(darwin): Add GitHub Desktop to all Darwin hosts
  .mcp.json
  profiles/darwin/desktop.nix
Due: nixfmt, prettier

feat: Add comprehensive Python 3.13 package module
  .mcp.json
  claude
  flake.nix
  hosts/alienware/default.nix
  hosts/darkstarmk6mod1/default.nix
  hosts/hal9000/default.nix
  hosts/halcyon/default.nix
  hosts/sevastopol/default.nix
  modules/home-manager/shell/starship.nix
  modules/shared-packages/default.nix
  modules/shared-packages/python.nix
  profiles/darwin/default.nix
  profiles/server/default.nix
  users/root.nix
Due: nixfmt, prettier

feat: Update README project structure and add GitLeaks config
  .gitleaks.toml
  README.md
Due: prettier

feat: Add ~/.local/bin to PATH in shell configuration
  modules/home-manager/shell/default.nix
Due: nixfmt

fix: Add gitleaks to shared packages and fix pre-commit hooks
  .pre-commit-config.yaml
  modules/shared-packages/default.nix
Due: nixfmt, prettier

feat: Add terraform to shared packages
  modules/shared-packages/default.nix
Due: nixfmt

fix: Configure tmux to use zsh as default shell
  modules/home-manager/shell/tmux.nix
Due: nixfmt

feat: Add zellij to shared packages for all systems
  modules/shared-packages/default.nix
Due: nixfmt

feat: Increase Claude Code bash command timeouts to 10 minutes
  modules/home-manager/shell/default.nix
Due: nixfmt

feat: Add libpostal with development headers to halcyon
  hosts/halcyon/default.nix
Due: nixfmt

fix: Use libpostalWithData from unstable instead of libpostal
  hosts/halcyon/default.nix
Due: nixfmt

fix: Add build dependencies and environment vars for libpostal Python bindings
  hosts/halcyon/default.nix
Due: nixfmt

feat: Complete libpostalWithData setup for halcyon
  hosts/halcyon/default.nix
Due: nixfmt

feat: Add ViteTunnel SSH key and improve Darwin SSH compatibility
  flake.nix
  hosts/halcyon/default.nix
  hosts/sevastopol/default.nix
  modules/darwin/restic-backups.nix
  modules/home-manager/shell/zsh.nix
  modules/shared-packages/python.nix
  modules/ssh-keys.nix
  profiles/darwin/desktop.nix
  users/regular/jamesbrink-darwin.nix
  users/regular/jamesbrink-linux.nix
Due: nixfmt

fix: Isolate restic AWS credentials to prevent shell pollution
  modules/darwin/local-hosts.nix
  modules/darwin/restic-backups.nix
  modules/home-manager/shell/zsh.nix
  modules/local-hosts.nix
  modules/restic-backups.nix
  modules/restic-shell-init.nix
  modules/shared-packages/default.nix
Due: nixfmt

chore: Remove socrates host entries from configuration
  modules/darwin/local-hosts.nix
  modules/home-manager/shell/default.nix
  modules/local-hosts.nix
Due: nixfmt

chore: Update Claude settings.json
  .claude/settings.json
Due: prettier

feat: Add plato host (100.105.134.43) to local hosts configuration
  modules/darwin/local-hosts.nix
  modules/local-hosts.nix
Due: nixfmt

fix: VSCode server signature verification and multiple improvements
  docs/pixinsight-cache.md
  flake.nix
  hosts/alienware/default.nix
  hosts/darkstarmk6mod1/default.nix
  hosts/hal9000/default.nix
  hosts/halcyon/default.nix
  hosts/sevastopol/default.nix
  modules/packages/postgres13-reset/wal-sync.nix
  modules/vscode-server.nix
  pkgs/pixinsight/package-cached.nix
Due: nixfmt, prettier

feat: Update Darwin hosts to use new Spark Desktop app
  profiles/darwin/desktop.nix
Due: nixfmt

docs: Add PixInsight package management documentation to README
  README.md
Due: prettier

feat: Add postgres13-wal-sync-days command for syncing WAL files from N days ago
  modules/packages/postgres13-reset/wal-sync.nix
Due: nixfmt

feat: Add Docker alongside Podman on hal9000
  hosts/hal9000/default.nix
Due: nixfmt

feat: Configure hal9000 container and firewall settings
  hosts/hal9000/default.nix
Due: nixfmt

fix: Disable eza hyperlinks to prevent underlined text in terminal
  modules/home-manager/cli-tools.nix
Due: nixfmt
