Repository jamesbrink/nixos: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixfmt, prettier

nixfmt:
  name: Format Nix files
  entry: nixfmt
  language: system
  pass_filenames: true

prettier:
  name: Format JSON/YAML/Markdown
  entry: nix develop -c prettier --write
  language: system

feat(hosts): add ComfyUI service and Ollama to hal9000/alienware
  flake.nix
  hosts/alienware/default.nix
  hosts/hal9000/default.nix
Due: nixfmt

fix(desktop): refactor rustdesk-client for Wayland and headless mode support
  hosts/alienware/default.nix
  hosts/hal9000/default.nix
  modules/rustdesk-client.nix
  profiles/desktop/gnome.nix
  profiles/desktop/xfce.nix
Due: nixfmt

fix(syncthing): add API readiness check before syncthing-init
  users/regular/jamesbrink-linux.nix
Due: nixfmt

fix(syncthing): use API key for readiness check
  users/regular/jamesbrink-linux.nix
Due: nixfmt

fix(hal9000): fix podman container runtime configuration
  flake.lock
  hosts/hal9000/default.nix
Due: nixfmt

fix(hal9000): fix Hyprland desktop startup issues
  hosts/hal9000/default.nix
  modules/home-manager/hyprland/default.nix
  modules/home-manager/hyprland/wallpapers/ristretto/1-ristretto.jpg
  modules/home-manager/hyprland/wallpapers/ristretto/2-ristretto.jpg
  modules/home-manager/hyprland/wallpapers/ristretto/3-ristretto.jpg
  profiles/desktop/hyprland.nix
Due: nixfmt

feat(alienware): add podman and docker GPU support with trusted user
  hosts/alienware/default.nix
  users/regular/jamesbrink-linux.nix
Due: nixfmt

fix(alienware): prevent comfyui service from auto-restarting
  hosts/alienware/default.nix
Due: nixfmt

feat: add shared binary caches and fh CLI to all hosts
  hosts/alienware/default.nix
  hosts/hal9000/default.nix
  modules/nix-caches.nix
  modules/shared-packages/default.nix
  profiles/darwin/default.nix
  profiles/server/default.nix
Due: nixfmt

feat(comfyui): update to v0.6.0 and remove CUDA workaround
  flake.lock
  flake.nix
  hosts/alienware/default.nix
Due: nixfmt

feat(comfyui): switch to HEAD and use NixOS module with CUDA
  flake.lock
  flake.nix
  hosts/alienware/default.nix
  hosts/hal9000/default.nix
Due: nixfmt

feat(comfyui): add user/group options and enable manager
  flake.lock
  hosts/alienware/default.nix
  hosts/hal9000/default.nix
Due: nixfmt

fix(hal9000): remove quantierra postgres13 configuration
  hosts/hal9000/default.nix
  hosts/hal9000/postgresql-management.md
  modules/packages/postgres13-reset/default.nix
  modules/packages/postgres13-reset/hooks.json
  modules/packages/postgres13-reset/wal-sync.nix
Due: nixfmt, prettier

feat(devshell): add nixos-rebuild-ng for remote deployments from Darwin
  flake.nix
Due: nixfmt

feat(profiles): add jamesbrink as trusted user across all hosts
  profiles/darwin/default.nix
  profiles/n100/default.nix
Due: nixfmt

chore: update flake.lock
  flake.lock
Due: none

feat(nix-caches): add nix-community.cachix.org and trust all caches
  modules/nix-caches.nix
Due: nixfmt

fix(darwin/restic): fix PATH and add comprehensive exclusions
  modules/darwin/restic-backups.nix
Due: nixfmt

Update comfyui
  flake.lock
  hosts/alienware/default.nix
Due: nixfmt

Update comfyui
  flake.lock
Due: none

add comfyui to macos
  flake.lock
  flake.nix
  hosts/halcyon/default.nix
Due: nixfmt

Add acris
  flake.lock
  flake.nix
  hosts/halcyon/default.nix
Due: nixfmt

chore(runner): update upstream actions-runner image
  containers/github-runner-full/Dockerfile
Due: none

feat(hal9000): add zerobyte backup management service
  flake.lock
  flake.nix
  hosts/hal9000/default.nix
Due: nixfmt

feat(hal9000): add extraReadWritePaths for zerobyte storage access
  flake.lock
  flake.nix
  hosts/hal9000/default.nix
Due: nixfmt

chore: update acris-scrapers flake input
  flake.lock
Due: none

Update all packages
  flake.lock
Due: none

feat(scripts): add --all flag to nix-gc for concurrent garbage collection
  scripts/nix-gc.sh
Due: none

feat(shared-packages): add bun runtime and bun2nix tooling
  flake.lock
  flake.nix
  modules/shared-packages/default.nix
Due: nixfmt

feat(scripts): auto-sync local path inputs for remote deploys
  scripts/deploy.sh
Due: none

feat(n100-01): enable zerobyte backup management service
  flake.lock
  flake.nix
  hosts/n100-01/default.nix
Due: nixfmt

fix(hyprland): ensure waybar starts by activating hyprland-session.target
  modules/home-manager/hyprland/default.nix
Due: nixfmt

feat(hyprland): add Super+B hotkey to balance window split ratios
  config/hotkeys.yaml
  modules/home-manager/hyprland/default.nix
Due: nixfmt, prettier

feat(scripts): add hypr-balance-all.sh to equalize column widths
  scripts/hypr-balance-all.sh
Due: none

feat(scripts): add hypr-balance-all.py for column width equalization
  scripts/hypr-balance-all.py
Due: none

feat(users/jamesbrink): add golang to shared packages
  users/regular/jamesbrink-shared.nix
Due: nixfmt

feat(users/jamesbrink): add fish and powershell for shell testing
  users/regular/jamesbrink-shared.nix
Due: nixfmt

feat(nix-caches): add Flox CUDA binary cache
  modules/nix-caches.nix
Due: nixfmt

feat(shared-packages): add why CLI for error explanations
  flake.nix
  modules/shared-packages/default.nix
Due: nixfmt

Path conditions:
  nixfmt: any of: \.nix$, but not: ^(result|result-.*|\.direnv|build/|secrets/.*\.age|nix-secrets/|nixos-old/).*
  prettier: any of: \.json$, \.(yaml|yml)$, \.(md|markdown|mdown)$ and not (^(flake\.lock|secrets/|nix-secrets/|nixos-old/).*) and not (^(result|result-.*|\.direnv|build/|secrets/.*\.age|nix-secrets/|nixos-old/).*)
