Repository jamesbrink/nixos: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixfmt, prettier

nixfmt:
  name: Format Nix files
  entry: nixfmt
  language: system
  pass_filenames: true

prettier:
  name: Format JSON/YAML/Markdown
  entry: nix develop -c prettier --write
  language: system

fix: Replace path interpolation with $PRJ_ROOT in devshell commands
  flake.nix
Due: nixfmt

fix: Disable Nix hyperlinks to prevent underlined text in terminal
  modules/home-manager/shell/zsh.nix
Due: nixfmt

feat: Open firewall port 7865 for Fooocus web UI on hal9000
  hosts/hal9000/default.nix
Due: nixfmt

fix: Resolve build issues and deprecation warnings
  CLAUDE.md
  README.md
  flake.lock
  hosts/hal9000/default.nix
  hosts/halcyon/default.nix
  modules/home-manager/shell/default.nix
  modules/shared-packages/devops-darwin.nix
  modules/shared-packages/python.nix
Due: nixfmt, prettier

fix: Resolve zig-hook build issues on x86_64-darwin
  hosts/sevastopol/default.nix
  modules/home-manager/shell/default.nix
  modules/shared-packages/python.nix
  users/regular/jamesbrink-darwin.nix
Due: nixfmt

fix: Pin terraform-docs and re-enable PixInsight
  hosts/hal9000/default.nix
  modules/shared-packages/devops.nix
Due: nixfmt

docs: Update PixInsight installation with permanent storage location
  docs/pixinsight.md
  flake.lock
  modules/darwin/local-hosts.nix
  modules/local-hosts.nix
Due: nixfmt, prettier

refactor: Remove unused pixinsight package-cached.nix
  docs/pixinsight.md
  pkgs/pixinsight/package-cached.nix
Due: nixfmt, prettier

refactor: Switch Alacritty from Nix to Homebrew on Darwin
  hosts/darkstarmk6mod1/default.nix
  hosts/halcyon/default.nix
  hosts/sevastopol/default.nix
  profiles/darwin/desktop.nix
Due: nixfmt

chore: Update flake inputs and fix build issues after update
  flake.lock
  profiles/desktop/default-stable.nix
  profiles/desktop/default.nix
  scripts/deploy-all.sh
  scripts/deploy.sh
  users/regular/jamesbrink-linux.nix
Due: nixfmt

fix: Prevent network service restarts during hal9000 deployment
  .claude/settings.json
  hosts/hal9000/default.nix
  modules/home-manager/shell/zsh.nix
Due: nixfmt, prettier

fix: Resolve SSH compression warning and zig-hook build error on darkstarmk6mod1
  hosts/darkstarmk6mod1/default.nix
  modules/home-manager/shell/default.nix
Due: nixfmt

fix: Correct SSH compression configuration to only use matchBlocks for compression
  modules/home-manager/shell/default.nix
Due: nixfmt

fix: Disable dulwich tests on macOS Tahoe to resolve GPG signing errors
  hosts/darkstarmk6mod1/default.nix
Due: nixfmt

fix: Resolve dulwich build failures and zig-hook issues on x86_64-darwin
  hosts/darkstarmk6mod1/default.nix
  modules/darwin/packages.nix
  modules/home-manager/cli-tools.nix
Due: nixfmt

fix: Migrate neovim LSP config to vim.lsp.config API for Neovim 0.11+
  modules/home-manager/editor/neovim.nix
Due: nixfmt

fix: Remove unsupported --no-hyperlink flag from eza configuration
  modules/home-manager/cli-tools.nix
Due: nixfmt

docs: Comprehensively update README.md with current infrastructure state
  CLAUDE.md
  README.md
  flake.nix
  hosts/darkstarmk6mod1/default.nix
  hosts/darkstarmk6mod1/hardware.nix
  modules/darwin/local-hosts.nix
  modules/home-manager/shell/default.nix
  modules/home-manager/shell/zsh.nix
  modules/local-hosts.nix
  modules/ssh-keys.nix
  scripts/deploy-all.sh
  scripts/restic-status.sh
  users/regular/ssh/config.d/00-local-hosts
Due: nixfmt, prettier

fix: Remove invalid mermaid diagram syntax from README.md
  README.md
Due: prettier

Add Derp machine SSH key and fix secrets-rekey to use ragenix
  modules/ssh-keys.nix
  profiles/desktop/hyprland.nix
  scripts/secrets-rekey.sh
Due: nixfmt

feat: Add Hyprland desktop profile and configure hal9000
  docs/desktop-environment-switching.md
  hosts/hal9000/default.nix
  profiles/desktop/hyprland.nix
Due: nixfmt, prettier

fix: Change hardware.pulseaudio to services.pulseaudio in Hyprland profile
  profiles/desktop/hyprland.nix
Due: nixfmt

feat: Add default Hyprland config with SUPER+RETURN terminal keybind
  profiles/desktop/hyprland.nix
Due: nixfmt

feat: Add Omarchy-style Hyprland keybindings for jamesbrink user
  hosts/hal9000/default.nix
  users/regular/jamesbrink-linux.nix
Due: nixfmt

feat: Add comprehensive Wayland/Hyprland system packages and fix shell exit prompts
  modules/home-manager/shell/zsh.nix
  profiles/desktop/hyprland.nix
  users/regular/jamesbrink-linux.nix
Due: nixfmt

fix: Configure wlogout to properly exit Hyprland without crashing SDDM
  users/regular/jamesbrink-linux.nix
Due: nixfmt

feat: Add comprehensive Tokyo Night theme configuration
  profiles/desktop/hyprland.nix
  users/regular/jamesbrink-linux.nix
Due: nixfmt

chore: Simplify MCP nixos server configuration
  .mcp.json
Due: prettier

fix: Add waybar and mako to Hyprland startup services
  users/regular/jamesbrink-linux.nix
Due: nixfmt

feat: Add SUPER+C/V keybindings for terminal copy/paste
  users/regular/jamesbrink-linux.nix
Due: nixfmt

feat: New terminals open in the last terminal's directory
  modules/home-manager/shell/zsh.nix
Due: nixfmt

feat: Workspace-specific terminal spawning in Hyprland
  modules/home-manager/shell/zsh.nix
  users/regular/jamesbrink-linux.nix
Due: nixfmt

feat: Add SwayOSD volume overlay and Catppuccin SDDM theme
  profiles/desktop/hyprland.nix
  users/regular/jamesbrink-linux.nix
Due: nixfmt

fix: Enable SDDM astronaut theme with proper QML module loading
  profiles/desktop/hyprland.nix
  users/regular/jamesbrink-linux.nix
Due: nixfmt

feat: Add boot entry limits and remote build support
  SECRETS.md
  TODO.md
  flake.lock
  flake.nix
  hosts/hal9000/default.nix
  profiles/n100/default.nix
  scripts/deploy.sh
  users/regular/jamesbrink-linux.nix
Due: nixfmt, prettier

feat(hyprland): refactor to modular structure with Omarchy-inspired features
  README.md
  flake.lock
  hosts/hal9000/default.nix
  modules/home-manager/hyprland/default.nix
  profiles/desktop/hyprland.nix
  users/regular/jamesbrink-linux.nix
  users/regular/jamesbrink-shared.nix
Due: nixfmt, prettier

Implement modular theme system for Hyprland desktop
  README.md
  modules/home-manager/hyprland/default.nix
  modules/home-manager/hyprland/themes/catppuccin.nix
  modules/home-manager/hyprland/themes/gruvbox.nix
  modules/home-manager/hyprland/themes/nord.nix
  modules/home-manager/hyprland/themes/rose-pine.nix
  modules/home-manager/hyprland/themes/tokyo-night.nix
Due: nixfmt, prettier

Fix Hyprland window splitting and terminal directory spawning
  modules/home-manager/hyprland/default.nix
Due: nixfmt

Path conditions:
  nixfmt: any of: \.nix$, but not: ^(result|result-.*|\.direnv|build/|secrets/.*\.age|nix-secrets/|nixos-old/).*
  prettier: any of: \.json$, \.(yaml|yml)$, \.(md|markdown|mdown)$ and not (^(flake\.lock|secrets/|nix-secrets/|nixos-old/).*) and not (^(result|result-.*|\.direnv|build/|secrets/.*\.age|nix-secrets/|nixos-old/).*)
